[2019-04-16 23:37] kwmonroe opened #19 "ensure prereqs are available in scripts"
The `./scripts/deploy-*` bits require `juju`, `juju-wait`, `kubectl`, and maybe `microk8s`. It'd be nice to fail fast if a `which $cmd` isn't present, and give a nice "snap install $x" message if needed.

Alternatively, do the snap install in these scripts on a failing `which`.

[2019-04-18 15:56] #19 closed

[2019-06-13 04:15] grebennikov opened #36 "Can't create seldon deployment with volume"
When creating seldon deployment with no volumes - pods are getting created instantly.
When adding volume context as well as volume mount into the containers context - "describe seldondeployments" shows no event.

For reference - paste of the deployment I'm using.
https://pastebin.ubuntu.com/p/Wpcf3Gdb9s/

[2019-06-13 05:13] grebennikov commented on #36
Update:
This is from the log of seldon cluster manager:
com.google.protobuf.InvalidProtocolBufferException: Cannot find field: nfs in message k8s.io.api.core.v1.Volume

Same happens if trying to define persistentVolumeClaim instead of NFS:
com.google.protobuf.InvalidProtocolBufferException: Cannot find field: persistentVolumeClaim in message k8s.io.api.core.v1.Volume

[2019-06-13 05:13] grebennikov commented on #36
@knkski fyi

[2019-06-14 14:30] knkski commented on #36
@grebennikov: Looks like you'll need to wrap the volume definition in `volumeSource`: https://github.com/SeldonIO/seldon-core/issues/116#issuecomment-373206582

[2019-06-28 22:04] grebennikov opened #42 "Can't successfully run seldon deployment with tensorflow image (wrong port)"
Creating seldon deployment that is run using tensorflow/serving image.
Here is the yaml file of the job - https://pastebin.ubuntu.com/p/KpNyz8qDf9/
Essentially the job is instructing the manager to probe model container on port 9000 (which is not defined anywhere), while the container is listening on the port 8501 (API).
Consequently the manager never claims the model to be ready, though model con

[2019-06-28 22:04] grebennikov opened #43 "Can't successfully run seldon deployment with tensorflow image (wrong port)"
Creating seldon deployment that is run using tensorflow/serving image.
Here is the yaml file of the job - https://pastebin.ubuntu.com/p/KpNyz8qDf9/
Essentially the job is instructing the manager to probe model container on port 9000 (which is not defined anywhere), while the container is listening on the port 8501 (API).
Consequently the manager never claims the model to be ready, though model con

[2019-07-01 15:19] #36 closed

[2019-07-01 16:04] knkski commented on #42
@grebennikov: Looks like you'll need to specify the port that the tf serving container is listening to, in the `SeldonDeployment` yaml:

[code]

Seldon will then appropriately set up the engine to talk to that port, and it otherwise defaults to using port `9000` if no port in the container was specified.

[2019-07-01 16:04] #42 closed

[2019-07-01 16:04] knkski commented on #43
Closing, as I think this is a dupe of #42, let me know if that's not the case, and I can reopen.

[2019-07-01 16:04] #43 closed

[2019-08-29 12:49] phvalguima opened #83 "Broken references on jaas.ai"
Hi,

From bundle's page: https://jaas.ai/kubeflow/bundle/112, I try to access scripts mentioned on this page and get 404 (ex.: https://jaas.ai/kubeflow/bundle/scripts/deploy-microk8s).

An alternative is to reference github scripts, such as: https://github.com/juju-solutions/bundle-kubeflow/blob/master/scripts/deploy-microk8s

[2019-08-29 15:01] #83 closed

[2019-09-01 19:38] phvalguima opened #85 "Charm katib-manager does not pick post-configured password for mariadb"
Deployed katib-manager charm with mariadb as katib-db. If I leave root-password empty and define it as post-config, this value is not propagated to katib-manager. I can still see:

                pod-template-hash=85684bfc8
Annotations:    apparmor.security.beta.kubernetes.io/pod: runtime/default
                juju.io/controller: 643e0282-b116-417b-8e73-f3d71b9e1310
                juju.io/mode

[2019-09-01 19:42] phvalguima opened #86 "Charm mariadb is not fulfilling its own description of generating random password if root-password is empty"
If I leave root-password empty on my bundle, mariadb charm will hang on "waiting" until we set it post-config. The options description mention that root-password will be generated randomly if left undefined however it does not happen. Also, this password needs to be passed via relations to other services.

I've seen a strange behavior when defining both "database" and "root-password" on mariadb: h

[2019-09-01 19:46] phvalguima opened #87 "pipelines-api fails deployment because mariadb hangs while waiting for root-password"
If we fix mariadb root-password post-config, Mariadb pod will be deployed after pipelines-api is configured. The main problem is that pipelines-api won't recover mariadb hostname after, so it keeps failing with:

$ kubectl logs -n kubeflow pipelines-api-86f4bb58b4-8kcqt
I0901 09:19:05.630356       7 client_manager.go:123] Initializing client manager
F0901 09:19:14.107282       7 error.go:296] dial

[2019-09-02 06:28] ycheng opened #88 "microk8s.enable kubeflow hangs"
install microk8s via

sudo snap install --classic microk8s --channel=1.15/edge/kubeflow

I got rev 802 of microk8s. With command "microk8s.enable kubeflow" it hangs with the following out for more than 10 mins.

---
[code]

[2019-09-03 03:50] knkski commented on #88
Hmm, not sure what might be causing this issue. I don't think we currently have a way of passing the `--debug` flag down to the Juju commands from `microk8s.enable kubeflow`, which would help debug this (though @ktsakalozos may correct me there), so I'll need to work on getting that in there. In the meantime, can you try running `juju --debug deploy kubeflow`, to see if that outputs anything usefu

[2019-09-20 08:44] ycheng commented on #88
re-test again today, now microk8s.enable kubeflow can finish running.

However, as I try to create notebook, it failed to create.

BTW, kubeflow 0.6.2 is release, and currently 1.15/edge/kubeflow still use kubeflow v0.5.
Steps in https://ubuntu.com/kubeflow/install can properly install kubeflow 0.6.

[2019-09-20 10:10] knkski commented on #88
@ycheng: Can you list the steps you took to create the notebook, and how it failed? Additionally, can you attach output from this command?

    microk8s.kubectl logs --tail 1000 --all-containers -l juju-operator=jupyter-controller

[2019-09-20 13:10] ycheng commented on #88
@knkski:

installation:
  snap core: r7396
  microk8s: v1.15.3, r802, channel: 1.15/edge/kubeflow

Steps
   microk8s.reset
   microk8s.enable kubeflow
   microk8s.kubectl get po -n kubeflow => make sure all pod are Running.
   kubectl get svc -n kubeflow | grep ambassador
   => get the ip of ambassador, open browser http://ip/ to go the main ui.
   Choose Notebooks from the left side menu
   Click

[2019-09-26 08:17] DomFleischmann opened #101 "scripts/cli.py microk8s setup fails due to permission issues."
When executing the following command stated in the instructions:
`python3 scripts/cli.py microk8s setup --controller uk8s`
The command isn't executed correctly and gives the following error:
[code]

This is due to the recent changes in microk8s and can be fixed by executing this:
[code]

Some changes either in the instructions or in the script might be needed.

[2019-09-26 11:05] #101 closed

[2019-09-26 14:09] thomaskwok91 opened #103 "Issue with Install"
Hi, when I was installing juju-solutions kubeflow I ran into an issue at this part

```python3 scripts/cli.py microk8s setup --controller uk8s```

The error message I got was:

`+ juju bootstrap microk8s uk8s
ERROR controller "uk8s" already exists
Command '('juju', 'bootstrap', 'microk8s', 'uk8s')' returned non-zero exit status 1.`

How do I fix this error?

Thanks

[2019-09-27 14:33] camille-rodriguez commented on #103
Hi thomaswok91,

Have you ran the command more than once?
Try `juju list-controllers` to see if a controller named "uk8s" already exists.

If it shows up in the list and you want to start from scratch, you can delete it with `juju kill-controller uk8s` and launch the python3 script again. Otherwise, you can continue with the next step of the install.

[2019-09-27 14:37] camille-rodriguez opened #104 "Deployment will fail if a controller without region exists in juju"
I deployed following these instructions https://jaas.ai/kubeflow/bundle/120#setup-microk8s.
At the step `python3 scripts/cli.py deploy-to uk8s` , the deployment fails towards the end with this error:

I do have a controller without a region, but that is my lxd controller, it should not break the deployment of a model inside my uk8s controller.
![image](https://user-images.githubusercontent.com/420

[2019-09-27 15:09] camille-rodriguez opened #105 "Wrong model name causes error at the end of deployment"
At the end of the deployment with the command `python3 scripts/cli.py deploy-to uk8s`, kubeflow is successful but it prints out an error with the juju status.

`+ juju config ambassador juju-external-hostname=localhost`
`+ juju expose ambassador`
`Congratulations, Kubeflow is now available. Took 229 seconds.`
`ERROR model uk8s:admin/default not found`
`Command '('juju', 'status', '-m', 'uk8s:defau

[2019-09-27 15:26] knkski commented on #104
Can you do a snap refresh and try again? I pushed out an update to the `juju-helpers` snap that should fix this.

[2019-09-27 15:46] camille-rodriguez opened #106 "` juju kubeflow remove-from uk8s` does not exist"
At the end of `python3 scripts/cli.py deploy-to uk8s`, it prints out this :+1:

However, this juju command does not exist.

`crodriguez@camille-hp:~/bundle-kubeflow$ juju kubeflow remove-from uk8s`
`ERROR unrecognized command: juju kubeflow`

I personally use `juju destroy-model kubeflow --destroy-storage -y` to remove the model.

[2019-09-27 15:57] camille-rodriguez commented on #104
Yep, that fixed it. Thanks!

[2019-09-27 15:57] #104 closed

[2019-09-27 18:46] knkski commented on #103
Thanks @camille-rodriguez. @thomaskwok91, if `juju kill-controller uk8s` gives you any errors, you may need to run `juju unregister uk8s`, to tell Juju that the controller was destroyed behind the scenes and it should just forget about it.

Closing since you should have the steps to continue, but feel free to reopen if you encounter any issues.

[2019-09-27 18:46] #103 closed

[2019-09-27 18:51] camille-rodriguez opened #111 "Kubeflow dashboard does not update login info when username/password are changed with juju"
I've deployed kubeflow on microk8s following https://jaas.ai/kubeflow/bundle/120

The default username set for the kubeflow dashboard is `admin`, password set by myself.
I used juju to change this config in ambassador-auth, as shown here :
`crodriguez@camille-hp:~/bundle-kubeflow$ juju config ambassador-auth username`
`camille`
`crodriguez@camille-hp:~/bundle-kubeflow$ juju config ambassador-auth

[2019-09-27 19:08] #86 closed

[2019-09-27 19:08] #105 closed

[2019-09-27 19:08] #106 closed

[2019-09-27 19:38] camille-rodriguez opened #112 "python3 scripts/cli.py remove kubeflow fails because of persistent storage"
Removal of the kubeflow model fails because of persistent storage.
[code]

Command '('juju', 'destroy-model', 'uk8s:kubeflow')' returned non-zero exit status 1.

The juju command must have the --destroy-storage option to perform successfully.

[2019-09-27 19:40] knkski commented on #112
We should make this flag more visible, but the wrapper script has a `--purge` option that will add in the `--destroy-storage` flag to `juju destroy-model`

[2019-09-27 19:55] camille-rodriguez commented on #112
Why not suggest directly to use the juju command instead of doing a wrapper for a 1-liner?

[2019-09-30 14:18] #111 closed

[2019-10-03 20:24] knkski commented on #88
@ycheng: can you try switching microk8s to the `1.16/edge/kubeflow` channel and trying again?

[2019-10-16 06:52] ycheng commented on #88
@knkski, just try today. microk8s is r946. it need user name and password to login.
do you know what's the default one?

[2019-10-21 18:00] knkski commented on #88
@ycheng: you can find the username / password to log into the kubeflow dashboard with these two commands:

    juju config ambassador-auth username
    juju config ambassador-auth password

[2019-10-21 18:39] knkski commented on #112
@camille-rodriguez: Sorry about the slow response on this, but yeah, the wrapper is a bit much for a one-liner. Removing it in #117.

[2019-10-21 20:06] #112 closed

[2019-10-23 20:59] aym-frikha opened #118 "Not able to create a notebook"
Hello, trying to follow this tutorial to deploy Kubeflow on top of CDK. Everything seems to be deployed but I'm not able to create a new notebook:

The output of "kubectl get pods -A":
https://paste.ubuntu.com/p/BzTnJX8Y76/

The output of "kubectl logs --tail 1000 --all-containers -l juju-app=jupyter-controller -n kubeflow" :
https://paste.ubuntu.com/p/sBCpb3txjD/

[2019-10-24 13:28] aym-frikha commented on #118
A potential workaround is:
Create a yaml file that contains: https://paste.ubuntu.com/p/9ScsWQdNqp/
Then kubectl apply -n kubeflow -f <FILENAME>

[2019-10-24 14:48] aym-frikha opened #119 "Kaggle image does not work correctly with this bundle"
Following this tutorial for Kaggle: https://github.com/canonical-labs/kaggle-kubeflow-tutorial

I was unable to access Kaggle notebook after creating it: the error I have in the browser " upstream connect error or disconnect/reset before headers "

[2019-10-24 19:50] #118 closed

[2019-10-25 14:28] aym-frikha opened #122 "default pipelines don't run properly"
All examples shipped with the kubeflow bundle give me this error when trying to run them "invalid spec: templates.print.outputs.artifacts.mlpipeline-ui-metadata: kubelet executor does not support outputs from base image layer. must use emptyDir"

[2019-10-25 17:37] aym-frikha opened #123 "Default image version tensorflow-1.13.1-notebook-gpu does not work"
Hello the deafult notebook image version tensorflow-1.13.1-notebook-gpu does not work:

Error: context deadline exceeded
kubelet ip-172-31-55-47.ec2.internal
spec.containers{asdascxz}
1
2019-10-25T15:58 UTC
2019-10-25T15:58 UTC
warning
Error: failed to reserve container name "asdascxz_asdascxz-0_kubeflow_bd97f0d0-2dae-437a-938e-c5f0fdab78b8_0": name "asdascxz_asdascxz-0_kubeflow_bd97f0d0-2dae-437a

[2019-10-28 13:51] aym-frikha opened #125 "Issue deploying stable kubeflow"
I have this issue when deploying kubeflow on top of CDK:

python3 scripts/cli.py deploy-to cdkkf

Enter a password to set for the Kubeflow dashboard:
Repeat for confirmation:
+ juju add-model kubeflow cdkkf
Added 'kubeflow' model on cdkkf/us-east-1 with credential 'admin' for user 'admin'
+ juju kubectl apply -f resources/katib-configmap.yaml
configmap/katib-config created
+ juju kubectl apply -f

[2019-10-28 13:55] aym-frikha commented on #125
root_password needs also to be changed to "root-password" as well as adding a new entry for mariadb

[2019-11-01 16:39] knkski commented on #125
This should be fixed, in that I've pushed the edge channel to stable, which will work with the latest version of `cli.py` in this repo. The charms now require Juju 2.7+, which is currently in RC status, so you'll need to do `sudo snap switch juju --channel candidate`, then do `sudo snap refresh`. I'm closing this as fixed due to the above, but feel free to reopen if you encounter any issues.

[2019-11-01 16:39] #125 closed

[2019-11-04 21:15] camille-rodriguez opened #128 "cli script fails on setup"
Hello everyone,

I am having issues with the script cli.py. I am deploying on AWS.
I launched `python3 scripts/cli.py ck setup --controller ckkf` and it ran successfully until it hit this:
[code]

I retried it on my own after and the command worked.
[code]
$ python3 scripts/cli.py deploy-to ckkf --cloud ckkf
Enter a password to set for the Kubeflow dashboard:
Repeat for confirmation:
+ juju add-mo

[2019-11-04 21:31] camille-rodriguez commented on #128
I believe there is a command missing `kubectl create namespace kubeflow` here https://github.com/juju-solutions/bundle-kubeflow/blob/3cf431b37a2f89b87830e46041aa58357f1e95c9/scripts/cli.py#L269

[2019-11-04 21:54] camille-rodriguez commented on #128
I created the namespace manually and re-launched the kubeflow deployment. Now there is an error with the katib-controller regarding ephemeral storage.
![image](https://user-images.githubusercontent.com/42066843/68161364-bd841900-ff23-11e9-9786-86583966188b.png)

[2019-11-04 23:06] camille-rodriguez opened #129 "Cannot expose ambassador app, node had condition DiskPression"
Hi,
I deployed CDK on AWS using the bundle. All well. I deployed then kubeflow on top of it and I ran into some issues with the script (see [my other bug](https://github.com/juju-solutions/bundle-kubeflow/issues/128)) and I've worked around them manually. Now, when I try to expose the ambassador app to access the kubeflow dashboard, the first ambassador-auth unit goes into this error: `The node wa

[2019-11-04 23:06] camille-rodriguez commented on #128
I opened a[ separate bug ](https://github.com/juju-solutions/bundle-kubeflow/issues/129)for the ambassador-auth issue

[2019-11-05 15:08] knkski commented on #128
@camille-rodriguez: You shouldn't have to create the namespace, Juju should do that itself when you create a model. As far as the storage error you're seeing, I assume you're using Juju 2.7-rc1, which recently changed something to cause that error. Can you try removing these lines from `cli.py`, and rerunning the deploy?

https://github.com/juju-solutions/bundle-kubeflow/blob/c1073ad/scripts/cli.p

[2019-11-06 14:54] camille-rodriguez opened #130 "Misleading text printed out 'juju kubeflow deploy-to ckkf'"
After deploying CDK with `python3 scripts/cli.py ck setup --controller ckkf`, the text printed out indicates to run a juju command to deploy kubeflow, however that command does not exist. It is misleading for new users. The command that should be run with the current version of the script is `python3 scripts/cli.py deploy-to ckkf --cloud ckkf`.

[code]

[2019-11-06 15:01] camille-rodriguez commented on #128
And yes I am using juju 2.7 to avoid this bug https://github.com/juju-solutions/bundle-kubeflow/issues/125

[2019-11-06 15:12] camille-rodriguez commented on #129
I followed the workaround in the [other issue](https://github.com/juju-solutions/bundle-kubeflow/issues/128) I opened, and everything deployed fine this time. This bug was probably an aftermath of the other issues I faced. Thank you!

[2019-11-06 15:12] #129 closed

[2019-11-06 16:46] knkski commented on #88
@ycheng: Is this working for you then? Or is it still hanging when you run `microk8s.enable kubeflow`? If it is still an issue for you, can you run switch to the latest version of microk8s edge with `sudo snap switch microk8s --channel edge && sudo snap refresh microk8s`, and then post the output from `KUBEFLOW_DEBUG=true microk8s.enable kubeflow`?

[2019-11-06 17:05] #128 closed

[2019-11-06 17:07] #130 closed

[2019-11-06 17:40] camille-rodriguez commented on #128
Shouldn't we keep this issue open until the fix is pushed in the code?

[2019-11-06 20:09] camille-rodriguez opened #135 "scripts/cli.py has hardcoded units numbers"
During the deployment of CDK, I had a tiny issue, which I resolved by adding a new unit of kubernetes-worker and removing kubernetes-worker/0. So I have kubernetes-worker/1, /2 and /3, with #2 being the master.

I then deployed kubeflow on top of it with the script. It failed here because no kubernetes-worker/0 was found. Ideally this should not be hardcoded and should depend on the actual units d

[2019-11-06 22:05] knkski commented on #135
Sorry about that. Fixed in #137, but in the short term, you can complete the deployment by commenting out this section of the `cli.py` script and running the command again:

https://github.com/juju-solutions/bundle-kubeflow/blob/c381444/scripts/cli.py#L268-L282

[2019-11-06 22:24] #135 closed

[2019-11-11 03:12] ycheng commented on #88
@knkski I can log in now. While try to create a notebook, it shows an error message

Warning!notebooks.kubeflow.org is forbidden: User "system:serviceaccount:kubeflow:default" cannot list resource "notebooks" in API group "kubeflow.org" in the namespace "kubeflow"

[2019-11-13 00:30] #122 closed

[2019-11-13 15:49] knkski commented on #88
@ycheng: Sorry about that. I've got a fix in the edge bundle, but in the meantime, you could try running `microk8s.disable rbac`, which should fix that issue.

[2019-11-14 03:17] ycheng commented on #88
@knkski hi, I reinstall microk8s from edge and got microk8s r1056 + core r8038

microk8s.enable kubeflow failed with log attached.

[microk8s-edge-1056.log](https://github.com/juju-solutions/bundle-kubeflow/files/3844432/microk8s-edge-1056.log)

[2019-11-14 19:25] ktsakalozos commented on #88
@ycheng we recently (yesterday) pushed a patch [1]  to address this. Could you try reinstalling from edge?

[1]

[2019-11-15 04:06] ycheng commented on #88
microk8s r1071:

03:42:21 INFO  juju.util.exec exec.go:209 run result: exit status 1
ERROR The microk8s user group is created during the microk8s snap installation.
Users in that group are granted access to microk8s commands and this
is needed for Juju to be able to interact with microk8s.

Add yourself to that group before trying again:
  sudo usermod -a -G microk8s root

03:42:21 DEBUG cmd super

[2019-11-15 18:53] ktsakalozos commented on #88
@wallyworld has already a fix for this issue and it should be available soon.

[2019-11-15 22:33] camille-rodriguez opened #152 "ERROR option provided but not defined: --all"
There is an error in the deploy script, the option --all does not exist for juju list-clouds.
[code]
I removed the --all in the cli.py script and it started deploying.

[2019-11-15 22:34] knkski commented on #152
What version of Juju are you using?

[2019-11-15 22:35] camille-rodriguez opened #153 "The script fetches charms that are not compatible with the latest stable version of juju"
It seems to me that either a juju version should be highlighted during the install, or that we should not fetch charms that depends on non-stable versions of juju (2.7-rc1)

[code]

[2019-11-15 22:37] knkski commented on #153
Unfortunately we're relying on 2.7 feature ATM, so there aren't really any charms that work on stable Juju. Are you able to use 2.7-rc1?

[2019-11-15 22:39] camille-rodriguez commented on #152
latest stable: 2.6.10-eoan-amd64

[2019-11-15 22:40] knkski commented on #152
@wallyworld: Is this flag 2.7 only?

[2019-11-15 22:40] camille-rodriguez commented on #152
I guess it's a new option in 2.7? I just find it odd since there's no stable version of 2.7 yet released

[2019-11-15 22:41] camille-rodriguez commented on #153
I'll switch to the latest candidate 2.7-rc4

[2019-11-15 22:53] camille-rodriguez commented on #153
Maybe we could warn users in the ReadMe? The install of juju has to be specific to the channel --candidate until 2.7 is released

[2019-11-15 22:54] camille-rodriguez commented on #153
even with juju-2.7rc4 I get weird stuff though. At the very end:
[code]

[2019-11-15 22:56] knkski commented on #153
Sorry about that, you'll need to run `sudo snap install juju-wait --classic`. It's a Juju plugin that waits for everything to get deployed properly, and to my knowledge there's no built-in support for it.

[2019-11-15 23:02] camille-rodriguez commented on #153
Oh right my bad. That's in the readme haha

[2019-11-19 08:48] ycheng commented on #88
it seems microk8s r1077 still failed with the same error.
Did you have it test pass?

[2019-11-19 14:40] ktsakalozos commented on #88
@ycheng the error you see if from the juju client. The `microk8s.enable kubeflow` addon uses for now the juju client from the snap edge channel (https://github.com/ubuntu/microk8s/blob/master/microk8s-resources/actions/enable.juju.sh#L13). @wallyworld may know more on when the fix will land there or if we should be using a different channel. Thanks.

[2019-12-04 14:57] camille-rodriguez opened #158 "Multiple pods in crashloopbackoff"
Hello,
I deployed a ubuntu 18.04 VM with 8GB ram, 40GB disk space.
On it I deployed the juju snaps, microk8s, and the latest bundle-kubeflow. Multiple pods are not coming online and present various errors. It seems like a recurrent issue.

[code]

First pod in problem is the katib-manager. It seems like a readiness issue, the port isn't responding.
[code]

Second one is the pod metadata-controller

[2019-12-06 20:17] knkski commented on #158
It looks like this is related to running inside of multipass. I'm able to reproduce it, investigating as to why that is.

[2020-01-03 23:10] grebennikov opened #163 "Ambassador redirects to https"
Deployed bundle #170
Ambassador is related to the gatekeeper and login.
Ambassador is exposed via loadbalancer on the default port 80.

When trying to access via clusterip/loadbalancer ip getting timeout.
curl to the address returns the following:
$ curl 172.29.146.13
<a href="https://172.29.146.13/kflogin">Temporary Redirect</a>.

Clearly the envoy redirects the traffic to the port 443 which ther

[2020-01-15 15:51] knkski commented on #163
The `kubeflow-gatekeeper` charm forces HTTPS connections, which requires that you use the nginx ingress for cert handling, as Ambassador never handles certs. #165 adds support for a different AuthService that handles HTTP connections just fine, so closing this

[2020-01-15 15:51] #163 closed

[2020-01-15 16:01] knkski commented on #152
2.7 has hit stable, and the charms have been marked as requiring 2.7+, so closing this

[2020-01-15 16:01] #152 closed

[2020-01-15 16:02] knkski commented on #88
@ycheng: Are you still running into this issue?

[2020-01-15 16:47] #158 closed

[2020-01-22 16:00] #153 closed

[2020-01-26 11:06] grebennikov opened #169 "Dex/OIDC fails to configure"
First, the manual says to configure "public-url". Not sure what it will be for the extended cluster.
I assumed this is the address of the ambassador (<IP>.xip.io).
Configured public-url='http://<IP>.xip.io:80' for both dex-auth and oidc-gatekeeper.
Once both dex and oidc charms finished the config, oidc complaints:

time="2020-01-26T11:03:23Z" level=error msg="OIDC provider setup failed, retrying

[2020-01-29 17:48] knkski commented on #169
The "OIDC Setup is not complete yet." error message comes from using an old version of Ambassador that doesn't support the `bypass_auth` attribute.

[2020-02-04 16:28] camille-rodriguez opened #171 "invalid charm url in application oidc-gatekeeper"
The bundle cannot deploy.

crodriguez@camille-hp:~/bundle-kubeflow$ python3 scripts/cli.py deploy-to charmed-kubernetes-us-east-1
Enter a password to set for the Kubeflow dashboard:
Repeat for confirmation:
+ juju add-model kubeflow charmed-kubernetes
Added 'kubeflow' model on charmed-kubernetes/us-east-1 with credential 'charmed-kubernetes' for user 'admin'
+ juju deploy -m kubeflow kubeflow --ch

[2020-02-06 16:53] knkski commented on #171
Sorry about that. You'll need to use an older cli.py script that doesn't use dex:

https://github.com/juju-solutions/bundle-kubeflow/blob/e9a2775d95146fde4544657df951369eb3f86c58/scripts/cli.py

Working on getting an updated bundle pushed up to the charm store, blocked by https://github.com/juju/charmstore/issues/896

I'd like to avoid having a default bundle without any authentication, as it then

[2020-02-11 22:09] grebennikov opened #173 "when deploying with microk8s ingress gets broken on restart"
Windows-based deployment with multipass.
Because this is a VM I have to modify ingress to point to the <IP.xip.io> rather than to the localhost.
When I stop microk8s and start again, the value "localhost" is again set in the ingress, also "tls" section is gone.

[2020-02-11 22:10] grebennikov opened #174 "ingress "host" value should be configurable for accessing ambassador"
When running microk8s with kubeflow in the VM (on Windows) the ingress is created with "localhost" value, so the ingress doesn't allow to connect to the ambassador. Should be configurable name value.

[2020-02-12 19:51] knkski commented on #173
Looks like this stems from https://bugs.launchpad.net/juju/+bug/1863013. In other words, when the Juju controller boots back up, it overwrites the existing Ingress, after we've patched it with TLS and whatnot. I think the short-term fix will to avoid `juju expose`, and just directly create an Ingress with kubectl.

[2020-02-13 23:27] knkski commented on #173
Fixed by https://github.com/ubuntu/microk8s/pull/965

[2020-02-13 23:27] #173 closed

[2020-02-20 23:38] knkski commented on #174
Fixed in https://github.com/ubuntu/microk8s/pull/965

[2020-02-20 23:38] #174 closed

[2020-02-24 17:47] ricpet commented on #88
hi all, I am getting this error:

[code]

anyone fixed this?

[2020-02-24 20:59] knkski commented on #88
@ricpet: This may be a race condition. Can you try running `microk8s.disable kubeflow; microk8s.enable kubeflow` to see if you run into the same error?

[2020-02-24 21:30] ricpet commented on #88
@knkski thanks for your reply. I tried but nothing, still the same issue.

[2020-02-25 15:33] grebennikov opened #176 "MPI-Operator should be included into the bundle"
According to the corporate user, MPI-Operator is a must when it comes to the distributed training and use of Horovod library.
Currently it is not a part of the bundle and never was.

[2020-02-25 17:07] ricpet commented on #88
I actually managed to fix that issue (there was some conflict with an old installation), however right now, I get this:

[code]

[2020-02-25 17:07] ricpet commented on #88
I actually managed to fix that issue (there was some conflict with an old installation), however right now, I get this:

[code]

[2020-02-25 17:28] knkski commented on #88
@ricpet: What was the fix involved in the previous error you were running into?

I haven't seen this new error before. Can you try again with the `KUBEFLOW_DEBUG=true` environment variable set? Offhand, it looks like a networking issue, which you might have if you're running behind a proxy/firewall/etc.

[2020-02-25 17:28] knkski commented on #88
@ricpet: What was the fix involved in the previous error you were running into?

I haven't seen this new error before. Can you try again with the `KUBEFLOW_DEBUG=true` environment variable set? Offhand, it looks like a networking issue, which you might have if you're running behind a proxy/firewall/etc.

[2020-02-25 18:11] ricpet commented on #88
hi @knkski this is the output:
[code]

[2020-02-26 08:51] ricpet commented on #88
just to add more context... I am using Ubuntu 18.04 (desktop) and I installed microk8s following this link https://microk8s.io/ and kubeflow using (https://www.kubeflow.org/docs/other-guides/virtual-dev/getting-started-multipass/). When I enable kubeflow I get:

[code]

[2020-02-26 09:40] ktsakalozos commented on #88
@ricpet it could be possible that the machine you are deploying kubeflow is running out of memory and the OS killed the apiserver while kubeflow was coming up. What are the specs of the machine (virtual or not) where MicroK8s runs on? The `microk8s.inspect` tarball has information we would need to debug this case. Thanks.

[2020-02-26 09:55] ricpet commented on #88
hi @ktsakalozos thanks for your help. The specs of my machine are:
* Intel(R) Core(TM) i7-8650U CPU @ 1.90GHz
* RAM 16 G

the outupt of `microk8s.inspect` is:

[code]

[2020-02-26 15:13] knkski commented on #88
@ricpet: Can you attach the tarball that `microk8s.inspect` generated? It looks like it put it at /var/snap/microk8s/1173/inspection-report-20200226_104633.tar.gz

[2020-02-26 15:29] ricpet commented on #88
@knkski here you go https://www.dropbox.com/s/haby9tzpudx4l8m/inspection-report-20200226_104633.tar.gz?dl=0

[2020-02-27 21:53] mikejmills commented on #88
Same issue here

Ubuntu 18

Revoked:false Label:admin Invalid:false InvalidReason:}]}
13:52:10 INFO  juju.util.exec exec.go:209 run result: exit status 1
ERROR microk8s:
  running: false

[2020-03-16 19:32] kwmonroe opened #181 "s/config/log"
Typo from #180.  Change this to `hookenv.log` instead of `.config`:

https://github.com/juju-solutions/bundle-kubeflow/blob/38ccbed95f189aff33aad1db88d48e728702ed1c/charms/cert-manager-webhook/reactive/webhook.py#L63

[2020-03-18 16:25] #181 closed

[2020-03-19 18:38] genet022 opened #185 "pipelines-api stuck in CrashLoopBackOff"
We're deploy and bootstrapping to a k8s cluster on AWS using Juju 2.7.4. Then I'm deploying kubeflow with `juju deploy cs:bundle/kubeflow`. All units go to 'active' according to Juju, but the pipeline-api App stays in 'waiting' and kubectl shows an issue with the pipeline-api pod. Specifically a failure to create the Minio bucket.

I'm using 8CPU, 16GB memory, 100GB storage for my 3 kubernetes-wor

[2020-03-19 19:23] knkski commented on #185
A bare `juju deploy cs:bundle/kubeflow` won't work, unfortunately. You'll need to either use the script from this repo, or manually run the same steps yourself:

If you're using the stable kubeflow bundle:
https://github.com/juju-solutions/bundle-kubeflow/blob/e9a2775/scripts/cli.py

If you're using the edge kubeflow bundle:
https://github.com/juju-solutions/bundle-kubeflow/blob/master/scripts/cli

[2020-03-20 16:38] genet022 commented on #185
I'm manually running the same steps and getting the same issue. Here's exactly what I'm doing:
[code]

Then I'm applying an Ingress:
[code]

I'm curious if it is related to this issue. Thoughts?
https://github.com/kubeflow/pipelines/issues/3098

[2020-03-20 16:43] knkski commented on #185
The only thing I see that's missing is that you'll need to add an overlay that looks like this, and pass it to the `juju deploy` command:

https://github.com/juju-solutions/bundle-kubeflow/blob/e9a2775/scripts/cli.py#L220-L228

You'll need to fill in the random values yourself (any random value should work)

[2020-03-20 17:06] genet022 commented on #185
That did it. Thanks again for the help! Closing the issue.

[2020-03-20 17:06] #185 closed

[2020-03-23 16:26] knkski commented on #88
@ricpet, @mikejmills: If you switch to the edge version of microk8s, it includes a fix for this error:

[code]

[2020-03-23 18:26] rs22 opened #186 "Charm build fails ('NoneType' object is not subscriptable)"
My goal is to install kubeflow 1.0 on microk8s, which seems to use this bundle when running `microk8s.enable kubeflow`. From what I can tell, the master branch already supports kubeflow 1.0, but the current edge version of microk8s in the snap store seems to install an older version of the bundle, even when using `KUBEFLOW_CHANNEL=edge`. Moreover, when I run the deployment command using `--channel

[2020-03-23 19:54] knkski commented on #186
One thing to note is that support for upstream's 1.0 jupyter notebooks is blocked on supporting Istio, which is work that is in-progress. Other than that, this bundle should match upstream kubeflow 1.0, and where it doesn't should be filed as a bug.

That aside, the error that you're getting looks like it stems from having a weird value in `~/.config/charm-build.conf`. Can you post the contents of

[2020-03-23 19:55] knkski commented on #186
Also, what version of `charm` are you using (`snap info charm`)? I had some issues with 2.7.3, and had to revert to 2.7.2.

[2020-03-25 09:14] rs22 commented on #186
Thanks for your help! Renaming my old `~/.config/charm-build.conf` fixed it. Its contents were:
[code]
The newly created `charm-build.conf` looks very similar, though:
[code]
I'm using charm 2.7.3, which is the current version of the snap.

The deployment now proceeds until the `juju wait -wv -m kubeflow` step, which errors because of katib-manager (`ERROR:root:katib-manager/0 failed: workload sta

[2020-03-25 09:14] #186 closed

[2020-03-25 20:22] knkski commented on #186
@rs22: Can you try redeploying and seeing if that fixes the issue with `katib-manager`? And if it happens again, post the output from `microk8s.kubectl logs -n kubeflow --tail 1000 -l juju-operator=katib-manager` (probably in a new comment, since it doesn't look to be related)?

[2020-03-25 22:43] rs22 opened #187 "AttributeError: 'MySQLClient' object has no attribute 'root_password'"
This is a new issue for my problem at the bottom of #186.

`python3 scripts/cli.py deploy-to uk8s --build` reproducibly fails with
[code]

`microk8s.kubectl logs -n kubeflow --tail 200 -l juju-operator=katib-manager` prints this error:
[code]

I can confirm that the password overlay file is properly generated during setup. I think it has something to do with the mysql interface (or the mariadb-k8s

[2020-03-26 12:48] aym-frikha opened #188 "CMR relation for keystone integration"
It would be nice to have charmed kubeflow connected to keystone through CMR. In a standard bare-metal charmed k8s deployment we typically use keystone for authentication service for k8s. It would be nice to use the same authentication service with Kubeflow instead of adding another authentication service like Dex to connect to LDAP. It will reduce management effort for administrators.

[2020-03-26 17:26] rs22 commented on #187
I could also reproduce the problem in a fresh multipass VM.

[2020-03-27 20:23] davecore82 opened #189 "Use SSL with customer certificate to access Kubeflow dashboard"
Feature request to enable accessing the Kubeflow dashboard via HTTPS/SSL with a certificate signed by someone's own Certificate Authority. Something like the TLS/HTTPS section of the Keystone charm (https://jaas.ai/keystone).

The goal would be to put those 3 files (SSL CA, SSL certificate and SSL key) somewhere in Kubernetes or Kubeflow or cert-manager and then forget about it. The certificate co

[2020-04-03 14:47] aym-frikha opened #190 "Use automatic sidecar integration"
Feature request to allow automatic sidecar integration for the jupyterhub notebook pods for example.
Example:
A data scientists that has access to a notebook need to download data from an external storage solution. This solution has a special authentication mechanism like Kerberos that manage access to data. A sidecar container to the notebook pod can be a good solution to do automatic Kerberos au

[2020-04-03 14:47] aym-frikha opened #208 "Allow injecting secrets into user-created pods"
Feature request to allow automatic sidecar integration for the jupyterhub notebook pods for example.
Example:
A data scientists that has access to a notebook need to download data from an external storage solution. This solution has a special authentication mechanism like Kerberos that manage access to data. A sidecar container to the notebook pod can be a good solution to do automatic Kerberos au

[2020-04-03 15:11] lwileczek-dmc commented on #169
So how does one get to the dashboard?

[2020-04-07 16:02] OnTheRicky opened #191 "Installation on macOS not working"
ran `KUBEFLOW_DEBUG=true microk8s.enable kubeflow` and fails with the following:

Just trying to get a local kubeflow environment going with microk8s

Running:
`macOS Catalina 10.15.4`
`multipass  1.1.0+mac`
`multipassd 1.1.0+mac`

17:52:07 DEBUG httpbakery client.go:245 } -> error <nil>
17:52:07 DEBUG juju.api monitor.go:35 RPC connection died
17:52:07 DEBUG juju.api monitor.go:35 RPC connection

[2020-04-08 11:42] OnTheRicky commented on #191
If running with `multipass` you need to allow traffic from host machine in/out off multipass:

`multipass launch --name microk8s-vm --mem 12G --disk 40G`
`multipass exec microk8s-vm -- sudo snap install microk8s --classic`
`multipass exec microk8s-vm -- sudo iptables -P FORWARD ACCEPT` 🚀

then `microk8s.enable dns dashboard storage kubeflow` runs past this error... presently stuck on last pod not

[2020-04-08 15:54] knkski commented on #191
Thanks @OnTheRicky, this should get documented somewhere

[2020-04-08 18:35] evilnick commented on #191
closed in favour of: https://github.com/canonical-web-and-design/microk8s.io/issues/254

[2020-04-08 18:35] #191 closed

[2020-04-10 17:57] aym-frikha opened #194 "Katib example does not work"
Hello,

Using the kubeflow bundle I was trying to test katib functionalities. I tried to test the example from kubeflow documentation : https://www.kubeflow.org/docs/components/hyperparameter-tuning/hyperparameter/#examples but I had the issue:

`Error from server (InternalError): error when creating "https://raw.githubusercontent.com/kubeflow/katib/master/examples/v1alpha3/random-example.yaml": I

[2020-04-15 13:53] aym-frikha opened #195 "kubeflow for microk8s deployment fail"
Trying to deploy Kubeflow for microk8s and following the readme file I had this issue:

Executing changes:
- upload charm cs:~kubeflow-charmers/ambassador-78 for series kubernetes
ERROR cannot deploy bundle: cannot add charm "cs:~kubeflow-charmers/ambassador-78": cannot retrieve charm "cs:~kubeflow-charmers/ambassador-78": cannot get archive: Get https://api.jujucharms.com/charmstore/v5/~kubeflow-

[2020-04-16 18:54] aym-frikha commented on #195
It's an environment issue ! sorry.

[2020-04-16 18:54] #195 closed

[2020-04-21 20:25] #194 closed

[2020-05-03 22:01] paravatha opened #197 "cli.py not working for aws/ckkf"
I am trying to setup ckkf as per https://github.com/juju-solutions/bundle-kubeflow#setup-charmed-kubernetes

[code]

[code]

[code]

[code]

**Error**

[code]

[2020-05-04 17:04] knkski commented on #197
It looks like you're deploying to the wrong cloud. `aws` represents AWS itself, there will be another cloud probably called `ckkf` that you'll need to deploy Kubeflow to. In other words, you'll need to fix the add-model command to this:

    juju add-model kubeflow ckkf --config update-status-hook-interval=30s

[2020-05-05 10:50] amr-elsehemy opened #198 "Extreme resource draining issue after deploying kubeflow"
I'm following the readme to deploy kubeflow juju bundle on top of microk8s,
I'm using an ubuntu 18.04 virtual machine via virtual box allocating 16GB ram and 4 cores,
All works fine, and finally I'm able to access kubeflow and deploy pipelines.
But the machine gets slower and slower by time, till it starts to hang and almost freeze, after an hour of usage .
looking for the resource allocation on u

[2020-05-05 13:21] tvansteenburgh commented on #198
Hi @amr-elsehemy, it would help to know which processes are using the resources. Could you get the output of these commands please?
[code]

[2020-05-05 14:23] amr-elsehemy commented on #198
Thanks a lot @tvansteenburgh ,
here are the outputs

**cpu** :
[code]
===========================================

**memory** :

[code]

[2020-05-05 23:08] knkski commented on #198
@amr-elsehemy, can you try running this command to see if it reduces CPU usage?

    systemctl stop --user gvfs-udisks2-volume-monitor

If that works, see here for more information about what's going on:

https://github.com/ubuntu/microk8s/issues/500

[2020-05-06 02:58] paravatha commented on #197
@knkski , I commented out this line

tried this

no luck, so tried this way

now, its complaining about tmp folders

[code]
It seems like the loop is not able to create  folders under **/tmp**

[2020-05-07 13:50] sakaia commented on #197
I do following commands. but even waiting 20 minutes. installation still keeps.
What should I do?
I shoud update ck.yaml config (edit memory and cpu)?

[code]
repeating message is follows.

[code]

By the way, I now understands controller uk8s (on localmachine) and ckkf (on aws).

[2020-05-07 17:04] knkski commented on #197
@paravatha: You'll need to run `sudo snap install charm --classic` to get the charm command. You'll also need that add-model line in there, as that creates a Kubeflow-specific model. You won't be able to deploy Kubeflow to the default AWS model.

[2020-05-07 23:43] knkski commented on #197
@sakaia: Can you post the output from `juju debug-log --replay --no-tail --include=kubernetes-master`, as well as the output from `juju status --relations`?

[2020-05-09 02:36] paravatha commented on #197
@knkski
When we run this command, how many ec2 instances it tries to provision?
also, what kind of authorization the IAM user needs?

`sudo python3 scripts/cli.py ck setup --controller ckkf
`

[2020-05-11 15:29] knkski commented on #197
@paravatha: That by default will create a Kubernetes deployment with 2 masters and 3 workers, 3 etcd machines, and a handful of other machines such as a load balancer, for a total of 12 machines.

I don't have an exact list of IAM permissions needed, but the IAM role that I'm using has full access to EC2 and read access to IAM and STS.

[2020-05-13 10:03] amr-elsehemy commented on #198
Thank you @knkski  for your support, that command does help a lot, it kills the draining process and all gets back to normal, however, it reopens again automatically after a little while, and i have to run the command every now and then,
Is there a more permanent disabling option ?

[2020-05-13 20:50] knkski commented on #198
@amr-elsehemy: Yeah, you can run `systemctl mask --user gvfs-udisks2-volume-monitor`. Note that this will have some weird side effects if you're running it on your regular computer vs inside a VM, such as not having USB drives automatically mounted and shown in the file manager.

[2020-05-14 15:20] natalytvinova opened #203 "User cert-manager charm with letsencrypt"
Feature request to enable creating letsencrypt issuers with cert-manager. Something like    `apiVersion: cert-manager.io/v1alpha2
   kind: Issuer
   metadata:
     name: letsencrypt-staging
   spec:
     acme:
       # The ACME server URL
       server: https://acme-staging-v02.api.letsencrypt.org/directory
       # Email address used for ACME registration
       email: user@example.com
       # N

[2020-06-17 19:37] aym-frikha opened #210 "katib db error"
Hello, after deploying kubeflow bundle with k8s using this script I've got issues with katib-db:

Version: '10.3.17-MariaDB-1:10.3.17+maria~bionic'  socket: '/var/run/mysqld/mysqld.sock'  port: 3306  mariadb.org binary distribution
2020-06-17 19:29:36 9 [Warning] Access denied for user 'root'@'10.1.11.22' (using password: YES)
2020-06-17 19:29:41 11 [Warning] Access denied for user 'root'@'10.1.11

[2020-06-17 19:39] aym-frikha commented on #210
same for pipelines db:

2020-06-17 19:29:17 0 [Note] Reading of all Master_info entries succeeded
2020-06-17 19:29:17 0 [Note] Added new Master_info '' to hash table
2020-06-17 19:29:17 0 [Note] mysqld: ready for connections.
Version: '10.3.17-MariaDB-1:10.3.17+maria~bionic'  socket: '/var/run/mysqld/mysqld.sock'  port: 3306  mariadb.org binary distribution
2020-06-17 19:29:17 0 [Note] InnoDB: Buf

[2020-06-18 10:06] aym-frikha opened #211 "katib random example does not work"
Hello,

after applying the random example for Katib, the random experiment stick on running but does never complete:

This is an output of one of the trials:
https://paste.ubuntu.com/p/XpqDWWSmfQ/

The pods are showing complete but they are not:

afrikha@afrikha-canonical:~/CPE/demos/bundle-kubeflow/lma$ kubectl get pods -n admin
NAME                                     READY   STATUS      RESTART

[2020-06-23 19:59] knkski commented on #211
@aym-frikha: Can you post the output from `juju status`?

It looks like at least one of the kubeflow pods isn't there for you, judging by this message in your paste:

    transport: Error while dialing dial tcp: lookup katib-db-manager.kubeflow on 10.152.183.41:53: no such host

I tried this myself with a kubeflow deployment created by `microk8s.enable kubeflow`, and the experiment ran just fine.

[2020-06-23 20:00] knkski commented on #211
I would guess that this is actually just a consequence of #210

[2020-06-23 20:00] #198 closed

[2020-06-23 20:01] #197 closed

[2020-06-23 20:01] knkski commented on #187
@rs22: Sorry, responding to this issue fell through the cracks, but this should now be fixed

[2020-06-23 20:01] #187 closed

[2020-06-23 20:02] knkski commented on #171
This should no longer be an issue with the latest stable version of the kubeflow bundle in the charm store.

[2020-06-23 20:02] #171 closed

[2020-06-23 20:18] #88 closed

[2020-07-01 16:00] lqdev opened #216 "Documentation | Unclear Juju snaps have to be installed"
In the *Deploying* setup section, it's unclear that a few Juju snaps have to be installed. Therefore, when deploying / enabling Kubeflow, there are errors.

![image](https://user-images.githubusercontent.com/11130940/86265938-79b8e080-bb92-11ea-97bf-0e20fd5e099e.png)

[2020-07-01 16:49] #216 closed

[2020-07-01 19:15] knkski commented on #208
I believe PodDefaults will meet this use case. As a concrete example, you would create a PodDefault that looks something like this:

[code]

Then, Jupyter will let you specify that a notebook server should be created with that PodDefault. When the notebook server is created by Kubernetes, the admission webhook controller (#207) will intercept it and add in the environment variable and volume defin

[2020-07-04 12:02] amr-elsehemy commented on #198
Thanks @knkski , that worked .

[2020-07-04 12:07] amr-elsehemy opened #219 "Error installing microk8s with juju 2.8"
Hello,
I've been attempting the installation in the past few days again and it seems like there are new unaddressed issues between juju 2.8 and microk8s

here's what happens when I run this line
` sudo snap install microk8s --classic`

after installing juju and cd into `bundle-kubeflow` dir

`error: cannot perform the following tasks
 Run hook connect-plug-peers of snap "juju" (run hook "connect-p

[2020-07-08 15:07] knkski commented on #219
@amr-elsehemy: This is due to this issue: https://bugs.launchpad.net/juju/+bug/1881769

That should be fixed in the Juju 2.8.1 snap, but in the meantime, downgrading the juju snap (or uninstalling it) will fix the problem:

    sudo snap switch juju --channel 2.7/stable
    sudo snap refresh

[2020-07-08 15:09] knkski commented on #219
As far as the issue with cert-manager goes, it looks like you're deploying with the `scripts/cli.py` script from this repo. You'll want to make sure you're using the latest version (`git checkout master && git pull`), as cert-manager has been moved to a separate bundle:

    https://github.com/juju-solutions/bundle-cert-manager

[2020-07-12 20:15] lqdev opened #223 "[Question] How do I get the address of the Kubeflow Dashboard?"
I was able to successfully deploy kubeflow with Microk8s and access the dashboard. However, I restarted my computer and was no longer able to access the site at the provided ambassador URL. Is there a way to get that address to make sure I'm pointing my browser to the correct address?

[2020-07-13 20:09] knkski commented on #223
You'll want to connect to http://X.X.X.X.xip.io/, where `X.X.X.X` can be found with this command:

    microk8s.kubectl get -n kubeflow service/ambassador -o=jsonpath='{.status.loadBalancer.ingress[0].ip}'

[2020-07-13 20:11] knkski commented on #223
Alternatively, if you're using the `cli.py` script, you can run `python3 scripts/cli.py info uk8s` to show a little bit more information, such as how to retrieve the username/password

[2020-07-14 16:19] cjohnston1158 opened #226 "snap "juju-helpers" is not available on stable"
Following the readme:

`sudo snap install juju-helpers --classic`

results in:

[code]

[2020-07-14 19:01] cjohnston1158 opened #228 "--build requires 'charm' snap"
Running ```python3 scripts/cli.py deploy-to ckkf --build``` without the charm snap installed throws an error:

```Error: SubcommandError("charm", "No such file or directory (os error 2)")```

When passing the build option the script should check for the presence of the charm snap and provide a better/earlier error if it doesn't exist. This requirement should also be covered in the docs.

[2020-07-15 00:17] lqdev commented on #223
Thanks @knkski

[2020-07-15 14:45] cjohnston1158 opened #229 "Only apply aws-ebs storage if deploying in AWS"
When doing setup on non-microk8s, this command runs and doesn't work in a non-aws env:

```juju('kubectl', 'apply', '-f', f'storage/{cloud}-ebs.yml')```

[2020-07-15 14:49] cjohnston1158 opened #230 "Break out setup into the deploy CK part and add-k8s"
Currently there are two options for deploying kubeflow on CK: deploy CK as part of the kubeflow setup, or have a CK environment manually add the k8s cloud, and then do deploy-to. There should be a way to do the full thing, or just add the k8s cloud.

[2020-07-17 20:05] knkski commented on #226
I've updated the snap and pushed to the stable branch, so that command should now work

[2020-07-17 20:05] #226 closed

[2020-07-17 20:31] knkski commented on #230
You should be able to add and remove arbitrary Kubernetes clusters with these commands:

    python scripts/cli.py k8s add
    python scripts/cli.py k8s remove

Though these are both just thin wrappers around `juju add-k8s` and `juju remove-k8s`, respectively

[2020-07-21 19:57] rlig commented on #158
It still does not work even with 20GB of RAM

[2020-07-22 20:21] knkski commented on #158
@rlig: If this is on microk8s, can you run `microk8s.inspect` and open an issue over in https://github.com/ubuntu/microk8s/?

[2020-07-22 20:22] #229 closed

[2020-07-27 14:51] knkski commented on #230
Closing since I think this is handled, otherwise feel free to reopen

[2020-07-27 14:51] #230 closed

[2020-07-27 14:51] #223 closed

[2020-07-27 14:55] knkski commented on #210
This should be fixed with #225, or by downgrading Juju to 2.7

[2020-07-27 14:55] #210 closed

[2020-07-27 14:55] #211 closed

[2020-07-28 19:14] #228 closed

[2020-09-15 11:03] DavidSpek opened #240 "deploy fails on CDK 1.19"
After setting up a Charmed Kubernetes 1.19 cluster and manually adding it to juju and bootstrapping a controller (bootstrapping with juju 2.8.2 seems broken btw) I tried to deploy charmed Kubeflow. When running the command `python3 scripts/cli.py deploy-to juju-k8s --cloud k8s-cloud` everything seems to go smoothly but it exits with the following error:

[code]

I did not run the `python3 scripts/

[2020-09-15 13:41] DavidSpek commented on #240
I doubt it is related but I am currently facing the following issue when trying to deploy Kubeflow with kfctl (which is why I decided to try charmed-kubeflow).

https://github.com/kubeflow/manifests/issues/1543

[2020-09-15 14:26] knkski commented on #240
Are you using the same controller for both CK and Kubeflow? I ask because the `juju kubectl` command relies on scp'ing `kubeconfig` from the `kubernetes-master/0` unit in the `default` model to work properly. If your setup looks different, it would be interesting to know what it looks like, so that `juju kubectl` could be made smarter.

At any rate, it should work for you if set up `~/.kube/config

[2020-09-15 14:37] DavidSpek commented on #240
I am not using the same controller for CK and Kubeflow. The model I am using for CK is not default but one I created (k8s). I did manually copy the config file with `juju scp kubernetes-master/0:config ~/.kube/config`. I will try with your mentioned edits in just a moment after my new kfctl deployment finishes failing.

FYI, I did manage to resolve the issue with deploying istio on CK which requir

[2020-09-15 15:16] DavidSpek commented on #240
The error I was facing has been resolved with the edits you mentioned above. However I am getting stuck at:
`kubectl wait --namespace=kubeflow --for=condition=Ready pod --timeout=-1s --all`

The pipelines-viewer pod and the ambassador pod are having trouble. The pipelinesviewer pod is in crashbackloop with the following log:

[code]

The ambassador pod shows `Readiness probe failed: Get "http://10

[2020-09-15 16:17] Cynerva commented on #240
Careful here, the charm or the snap will revert this change sooner or later.

You should be able to set this with api-extra-args on the charm. Something like this:

[code]

[2020-09-15 16:52] DavidSpek commented on #240
@Cynerva That would indeed make the changes persistent, however I doubt this setup will work from a bundle directly as `serviceaccount.pub` would need to be created.

[2020-10-13 06:55] ycliuhw opened #249 "dex_auth non leader units should set active as well"
While doing some juju testing, found non-leader units are never set to active.
https://github.com/juju-solutions/bundle-kubeflow/blob/aac5a218cf29f144aaa6c037bfc51b97d34ecbb9/charms/dex-auth/reactive/dex_auth.py#L47

[code]

[code]

[2020-10-13 21:27] johnsca commented on #249
The non-leader "units" can't meaningfully effect change, nor can they actually query the status of the workload pod that they're supposed to represent.  I do think that the current `maintenance` status is not correct, but I think the best that the charms could accomplish as it stands today would be to exit earlier and never call `status-set` at all so that it stays at `unknown`. There's still an i

[2020-10-20 04:58] ycliuhw commented on #249
Agreed, for now, we probably just never call status-set for minion units for less confusion.

[2020-10-20 04:58] #249 closed

[2020-10-20 17:35] jas042 commented on #169
@lwileczek-dmc You can declare the 172.29.146.175.xip.io in your /etc/hosts point to valid public ip address and access. Now Im verify can I force to pass de HOST proxy header in Ingress entry for solve this.

[2020-10-27 17:19] jhobbs opened #254 "pipelines-api, oidc-gatekeeper, and dex-auth in CrashBackoffLoop after deploy"
This is with juju 2.8.5, deploying version 9af36dc8d1b3ee5d090cb36fea2f797c52858816 of this repo on microk8s v1.19.2.

[code]

[code]

[2020-10-27 19:38] jhobbs commented on #254
http://paste.ubuntu.com/p/t5khN6bchC/ same/similar issue with the bundle from the charm store

[2020-11-02 20:44] jtfogarty opened #259 "Error when installing Kubeflow with microk8s"
I'm see the below error when I attempt to install Kubeflow.

It seems that it cannot find the .kube/config file. (which is not there by the way.  not sure how microk8s does this)

[code]

[2020-11-02 20:51] RFMVasconcelos commented on #259
Thank you @jtfogarty for this!

/assign @knkski

[2020-11-05 17:35] RFMVasconcelos opened #260 "Memory warning also appears in Lite and Edge bundles"
Kubeflow lite & edge is announced to be available for devices with less than 14Gb of RAM, but the warning is still there:

![image](https://user-images.githubusercontent.com/27001378/98275866-12220000-1f8d-11eb-9661-bc28f2febcb1.png)

[2020-11-09 17:07] knkski commented on #259
@jtfogarty: The fastest way to fix this is with `sudo snap switch microk8s --channel 1.18/stable && sudo snap refresh`.

cc @ktsakalozos, as this looks like a 1.19 / calico sort of issue

[2020-11-10 19:23] jhobbs opened #263 "charms should handle setting public-url for dex-auth and oidc-gatekeepr"
The charms should be able to these values; they just come from the address of the istio gateway application.

[2020-11-14 23:18] apulache opened #266 "oidc-gatekeeper locked on CrashLoopBackOff"
I've just tried to install KubeFlow on MicroK8s acordding  Canonical guide found here https://ubuntu.com/kubeflow/install.

Pod idc-gatekeeper never started and stay in CrashLoopBackOff.

I've tried this with Ubuntu Server 20.04 and 18.04 and the results are the same.

Here the details gathered:

microk8s.kubectl get po --all-namespaces
================================
NAMESPACE         NAME

[2020-11-18 23:10] jhobbs commented on #263
it doesn't use ambassador anymore.

[2020-11-18 23:11] jhobbs opened #268 "rbac has to be turned off, or the istio-ingressgateway-operator role has to be manually modified"
This should work with rbac on without any extra role config.

[2020-11-24 16:44] jhobbs opened #270 "tests fail with Couldn't determine cloud substrate"
The included test suite fails with this juju kubectl error:

[code]

[2020-12-01 22:37] jhobbs commented on #270
this is resolved now by exporting KUBECONFIG path.

[2020-12-01 22:37] #270 closed

[2020-12-01 22:38] jhobbs opened #273 "Failed to create a new experiment. The name Default already exist"
test failure here: https://paste.ubuntu.com/p/dnRRGZxsKB/

[2020-12-07 11:49] xxl007 opened #276 ""microk8s enable kubeflow" command failing"
Hello, I have tried to deploy kubeflow on microk8s on a g4dn.2xlarge on AWS.

The command fails. See screenshot below.

![image](https://user-images.githubusercontent.com/232548/101347596-9caa9780-388a-11eb-836d-02ca9ab24389.png)

[2020-12-07 19:02] knkski commented on #276
@xxl007: Can you run `microk8s inspect`, and attach the tarball here that it generates?

[2020-12-14 03:49] zxsimple opened #471 "Failed to pull from registry.jujucharms.com/kubeflow-charmers/*"

[2020-12-15 08:02] VibratingPig opened #277 "Documentation refers to a function that does not exist"
In https://github.com/juju-solutions/bundle-kubeflow/blob/master/README.md on line 120 it states

"Note that until https://github.com/kubeflow/pipelines/issues/1654 is resolved,
you will have to attach volumes to any locations that output artifacts are
written to, see the `attach_output_volume` function in
`pipline-samples/sequential.py` for an example."

Is this still true?  When I go to pipeline

[2020-12-17 09:40] zxsimple opened #280 "Failed to pull from registry.jujucharms.com/kubeflow-charmers/*"
After execution of command `microk8s enable kubeflow`, some of the pod failed to pull images from `registry.jujucharms.com/kubeflow-charmers/*`.

`microk8s kubectl get pods --all-namespaces` shows:
[code]

That because all the images on `registry.jujucharms.com/kubeflow-charmers/*` couldn't be pulled.
[code]

Execute one the command getting the error:
[code]

Any workaround for pulling the images?

[2020-12-23 08:47] VibratingPig opened #281 "How to fix the bundle?"
I've deployed this bundle and noticed that the jupyter web app isn't working and its image is almost 18 months old. I've checked out the latest jupyter web app and it runs locally without issue. I was wondering how can I help in fixing this bundle? Is it a case of comparing each individual components and testing?

[2021-01-03 00:40] shintaro-uchiyama opened #282 "Notebook Servers page doesn't show anything at microk8s.kubeflow"
# problem
I installed kubeflow on macOS by using multipass and microK8s and I cloud show kubeflow dashboard page.
But notebook servers and artifact store page doesn't show properly like below.

- notebook servers page doesn't show anything
  - I also captured console tab because some error is appeared.
<img width="1168" alt="スクリーンショット 2020-12-31 15 27 35" src="https://user-images.githubusercontent

[2021-01-04 05:49] zxsimple opened #283 "Invalid Email Address and password to access the dashboard"
After enabling `kubeflow-lite` with command `KUBEFLOW_BUNDLE=lite microk8s enable kubeflow --ignore-min-mem`. I got the output:

[code]

However, I couldn't access with the provided username and password.

[2021-01-04 08:21] zxsimple commented on #283
The gatekeeper logs ` microk8s.kubectl logs oidc-gatekeeper-6c5d44f8b4-mfjzt -c oidc-gatekeeper  -n kubeflow`
[code]
`dex-auth-config-config` likes
[code]

[2021-01-04 10:02] #471 closed

[2021-01-04 10:03] zxsimple commented on #280
Closed. See https://github.com/ubuntu/microk8s/issues/1816#issuecomment-753880588

[2021-01-04 10:03] #280 closed

[2021-01-06 01:50] zxsimple commented on #283
Fixed by mannually setting the static username/password and restarting the `dex-auth` deployment. See https://github.com/kubeflow/kubeflow/issues/5493

[2021-01-06 01:50] #283 closed

[2021-01-14 13:00] BionixAB commented on #266
Exactly the same problem.
heapster-v1.5.2 and nvidia-device-plugin-daemonset also showed problems but are now up.
ALL of the pods have had at least 2 restarts, but are currently up.
Configuration:
Ubuntu 18.04.3 LTS Clean install
INTEL NUC 8i5BEH w 8259 CPU (4+4 threads), 32GB RAM, 500GB Samsung EVO, NVIDIA-Driver 460 and Nvidia 1080 connected via Thunderbolt 3 to hp OMEN Accelerator.

[2021-01-16 16:09] TosinAina opened #289 "Enabling kubeflow on microk8s"
I installed microk8s using `sudo snap install microk8s --classic`,
I enabled dns, dashboard and storage with `microk8s enable dns dashboard storage`,
I tried enabling kubeflow with `microk8s enable kubeflow`, inputted the password and it prompted me to add `--ignore-min-mem`,
I tried enabling kubeflow with `microk8s enable kubeflow --ignore-min-mem`, inputted the password and it gave me this error

[2021-01-18 04:41] Windfarer opened #291 "katib-manager-operator AttributeError: 'MySQLClient' object has no attribute 'root_password'"
deploying kubeflow to microk8s cluster, and it reports an error

version:

[code]

the logging of `microk8s.kubectl logs -n kubeflow --tail 200 -l juju-operator=katib-manager` command.
I searched through issues, and found this error is similar to https://github.com/juju-solutions/bundle-kubeflow/issues/187
Any solution to deal with this error?

[code]

[2021-01-18 13:45] VariableDeclared opened #292 "katib service accounts are missing permissions/bindings"
Hi,

When deploying Charmed Kubeflow on Charmed Kubernetes the katib-controller is unresponsive to HTTPS requests, checking the katib controller logs it is possible to observe multiple permission error logs e.g.

[code]

This causes the kubeflow pipeline tests to fail.

[Workaround]

As a quick workaround the `katib-ui` and `katib-controller` need a new rolebinding created with appropriate permiss

[2021-01-18 17:35] VariableDeclared opened #294 "tests are unstable on Kubernetes deployments"
Hi,

There are a few issues that can be worked around when testing kubeflow from the `./tests` directory of this repo, noted here:

- There's no requirements.txt/required depen
- When validating a deployment it is required to edit the test_kubectl.py file to use `kubectl` instead of `juju-kubectl`.
- The the unit checking tests work only if the pods are running on the default namespace (Require ch

[2021-01-19 08:20] VariableDeclared opened #297 "Notebook servers renders a blank page"
Hi,

When deploying Kubeflow on Charmed Kubernetes the notebooks servers page renders a blank page, it appears that jupyter is missing some configuration around the gateways allowing access to the page. More info in the linked comment.

[Workaround]

The patch applied in https://github.com/kubeflow/kubeflow/issues/5480#issuecomment-754439487

Cheers
Peter

[2021-01-20 17:52] knkski commented on #297
This should now work with the master branch of this repo. Closing since we now have functional UI tests to catch regressions like this so it should definitely be fixed, but feel free to reopen if redeploying with master (or latest stable bundle) doesn't fix it for you

[2021-01-20 17:52] #297 closed

[2021-01-20 22:29] knkski commented on #291
@Windfarer: If you're building the charms locally instead of deploying them from the charm store, you'll need to include a particular mysql interface. See here for how to get a local copy:

https://github.com/juju-solutions/bundle-kubeflow/blob/9e47779/.github/workflows/test-microk8s.yaml#L39-L40

[2021-01-20 22:33] knkski commented on #289
@ktsakalozos: Any idea what might be the issue here?

[2021-01-20 22:37] ktsakalozos commented on #289
Hi @TosinAina would you me able to run `microk8s inspect` and attach the gathered logs?

For some reason the calico CNI was not setup on time.

[2021-01-21 02:03] songjunjian opened #299 "microk8s kubeflow can not login"
using ubuntu install microk8s , and then enable kubeflow

microk8s enable kubeflow

Waiting for service pods to become ready.
Congratulations, Kubeflow is now available.

The dashboard is available at http://10.64.140.43.xip.io
    Username: ****
    Password:  **********

then can not log in the , it prompt to input the  email address, but it do not be set during the deploying process.

[2021-01-21 02:28] #299 closed

[2021-01-21 09:07] #291 closed

[2021-01-21 14:02] #294 closed

[2021-01-21 15:06] AdeloreSimiloluwa opened #300 "Stuck at microk8s enable kubeflow - Try `microk8s enable kubeflow` instead"
Tried setting kebflow up in ubuntu with Microk8s
I followed the following steps
[code]
Here is the problem, It just stops working at `microk8s.enable kubeflow --bundle=lite`. This is the error I got
![image (7)](https://user-images.githubusercontent.com/62348760/105368992-1646dc80-5bd0-11eb-92cb-b018b1af7132.png)

I tried again with `microk8s enable kubeflow` but I got the same error

[2021-01-21 19:05] TosinAina commented on #289
Inspecting Certificates
Inspecting services
  Service snap.microk8s.daemon-cluster-agent is running
  Service snap.microk8s.daemon-containerd is running
  Service snap.microk8s.daemon-apiserver is running
  Service snap.microk8s.daemon-apiserver-kicker is running
  Service snap.microk8s.daemon-control-plane-kicker is running
  Service snap.microk8s.daemon-proxy is running
  Service snap.microk8s.d

[2021-01-22 01:12] knkski commented on #289
@TosinAina: Could you upload the generated tarball to this thread (`/var/snap/microk8s/1975/inspection-report-20210121_195748.tar.gz`)?

[2021-01-22 04:50] knkski commented on #300
@AdeloreSimiloluwa: You should run this command as a non-root user (try `whoami` or `id` to double-check your current user). Closing this issue as I believe the non-root check is working as intended, feel free to reopen if you encounter this error as a non-root user.

[2021-01-22 04:50] #300 closed

[2021-01-22 14:23] knkski commented on #266
@apulache, @BionixAB: This issue should now be fixed with the latest version of MicroK8s. Can you refresh (`sudo snap refresh microk8s --channel latest/edge`), and try again?

[2021-01-27 00:55] AdeloreSimiloluwa opened #301 "Can't access the Kubeflow dashboard with http://10.64.140.43.xip.io"
Currently working on with Ubuntu vm in windows.  I ran the following codes and kubeflow was successfully installed but I cant access the kubeflow dashboard with `http://10.64.140.43.xip.io`

    1) sudo snap install microk8s --classic --channel=latest/edge
    2) sudo microk8s status --wait-ready
    3) sudo usermod -a -G microk8s $USER
    4) sudo chown -f -R $USER ~/.kube
    5) microk8s.enable

[2021-01-27 01:56] #208 closed

[2021-01-27 03:54] knkski commented on #301
@AdeloreSimiloluwa: Since you're running MicroK8s inside a VM, connecting to the dashboard will be a little trickier. The easiest way is to connect via a SOCKS proxy as detailed here:

https://charmed-kubeflow.io/docs/dashboard

[2021-01-27 18:16] AdeloreSimiloluwa commented on #301
@knkski , thank you. I tried  `ssh -D 9999 ubuntu@<machine_public_ip>` but I got permission denied error (public key).

[2021-01-27 18:47] knkski commented on #301
@AdeloreSimiloluwa: Depending on how you've set up your VM, you may need to change that command. If you haven't yet, you'll need to include your SSH key in the `~/.ssh/authorized_keys` file in the VM.

[2021-01-27 19:40] AdeloreSimiloluwa commented on #301
I am  not getting this how to work with this @knkski , I get a directory error

[2021-02-01 22:03] knkski commented on #283
This should also be fixed with the latest version of microk8s: `sudo snap refresh microk8s --channel latest/edge`

[2021-02-04 20:28] jhobbs opened #308 "Most services don't come up; x509: certificate relies on legacy Common Name field"
See this for details https://bugs.launchpad.net/juju/+bug/1914144/

[2021-02-05 08:32] #308 closed

[2021-02-08 19:58] knkski commented on #292
Fixed by https://github.com/kubeflow/katib/pull/1426

[2021-02-08 20:25] knkski commented on #282
@shintaro-uchiyama: Can you try this again with the latest version of microk8s (`sudo snap refresh microk8s --channel latest/edge`)?

[2021-02-12 16:17] jhobbs opened #316 "tests/test_pipelines.py::test_pipelines[jupyter-params3-jupyter_pipeline] fails with 404"
This test is failing, and the only output is "404 page not found"

This is kubeflow deployed on top of CK on aws.

https://solutions.qa.canonical.com/testruns/testRun/12abd4e4-0645-4176-9cb5-ddf4c2b809ec

[2021-02-22 17:17] egranell opened #317 "Impossible to deploy in seldon"
Following the instructions from [here](https://www.kubeflow.org/docs/components/serving/seldon/):

1. A namespace label ìs set as serving.kubeflow.org/inferenceservice=enabled: `kubectl label namespace kf serving.kubeflow.org/inferenceservice=enabled`
2. Created the Istio Gateway:
[code]
3. Created a secret to access minio storage: https://github.com/mlopsworks/charms/blob/8f71b5449fc941d1a2d7e404

[2021-02-25 15:39] jhobbs opened #320 "katib test fails with "b'no matches for kind "Experiment" in version "kubeflow.org/v1alpha3"\n'""
This is on CK on AWS. It fails every time.

pod logs from failed test:
https://paste.ubuntu.com/p/CKKHsvHswR/

failed test run output:
https://paste.ubuntu.com/p/t34jxbczmw/

juju status:
https://paste.ubuntu.com/p/RgDFhWKxtm/

k8s crashdump with more pod logs etc:
http://people.canonical.com/~jhobbs/juju-crashdump-kubernetes-2021-02-25-15.39.27.tar.gz

[2021-02-26 03:53] dinever commented on #289
Same error here

[2021-02-26 14:15] RFMVasconcelos opened #321 "Error getting Artifacts on running a pipeline"
![Screenshot from 2021-02-26 14-14-05](https://user-images.githubusercontent.com/27001378/109310879-ffce1980-783c-11eb-80d7-41b35a658b23.png)

[2021-02-26 14:38] RFMVasconcelos opened #322 "Kubeflow pipelines Client initialization requires host definition"
Initializing the kfp client as in many Kubeflow examples leads to an error.
![Screenshot from 2021-02-26 14-19-56](https://user-images.githubusercontent.com/27001378/109311431-bcc07600-783d-11eb-846c-c5d0fea410b1.png)

It works when you define the host.
![Screenshot from 2021-02-26 13-51-52](https://user-images.githubusercontent.com/27001378/109311366-a9150f80-783d-11eb-8646-06dd6439cb2c.png)

Cou

[2021-02-26 14:56] RFMVasconcelos commented on #321
cc @knkski

[2021-02-26 15:29] RFMVasconcelos commented on #321
This happens for example pipelines (in this case conditional), when you click on one pipeline component

![Screenshot from 2021-02-26 15-27-58](https://user-images.githubusercontent.com/27001378/109319924-593b4600-7847-11eb-9bdb-e26a03ff1127.png)

[2021-03-01 14:37] RFMVasconcelos commented on #317
cc @knkski

[2021-03-02 22:48] knkski commented on #317
@egranell: Can you try with the updated Seldon charm here? `cs:~seldon-charmers/seldon-controller-manager`

[2021-03-03 20:56] knkski commented on #289
@dinever: Could you run `microk8s inspect` and attach the generated tarball?

[2021-03-04 11:24] RFMVasconcelos opened #330 "Add "About" to this repo"
Can we add a link to [Charmed Kubeflow](https://charmed-kubeflow.io) and a short description?

Something like:
"Composable Kubernetes Operators for lifecycle management of Kubeflow"

![Screenshot from 2021-03-04 11-19-06](https://user-images.githubusercontent.com/27001378/109956388-82425780-7cdb-11eb-8e7b-5700cd6452c2.png)

[2021-03-04 16:24] asbalderson opened #331 "most tests are failing to connect to localhost"
on a deployment of  cs:kubeflow on k8s on top of aws.
5 out of 9 tests fail, and 2 out of 9 tests error.

most tests are showing that they fail to connect to 127.0.0.1
the selenium tests cant seem to find something called "geckodriver"

FAILED tests/test_kubectl.py::test_running_full - AssertionError: assert {'ad...
FAILED tests/test_pipelines.py::test_pipelines[mnist-params0-mnist_pipeline]
FAILE

[2021-03-09 09:51] RFMVasconcelos opened #334 "Err installing Kale on Kubeflow on MicroK8s"
Steps to bug:
1. Install `kubeflow-lite` on MicroK8s
2. Start a Jupyter notebook server on Kubeflow dashboard
3. Connecting to notebook server
4. Open a new terminal on that server
5. Type [first step to install kale](https://github.com/kubeflow-kale/kale) - `pip install kubeflow-kale`

ERR below:

![Screenshot from 2021-03-09 09-47-07](https://user-images.githubusercontent.com/27001378/110451826-

[2021-03-09 09:52] RFMVasconcelos commented on #334
@knkski @DomFleischmann am I doing something incorrectly?

[2021-03-09 11:03] DomFleischmann commented on #334
Did you use JupyterNotebook version 2 or the older one for the Notebook
Server?

According to this
<https://stackoverflow.com/questions/43124775/why-python-3-6-1-throws-attributeerror-module-enum-has-no-attribute-intflag>
it
seems to be some issue with the version of the enum module.

Dominik Fleischmann

Software Engineer

Mobile: +34 633 06 77 99 (Spain)

Email: dominik.fleischmann@canonical.com

[2021-03-09 11:43] RFMVasconcelos commented on #334
I've chosen the latest TF cpu image from the default options:
![Screenshot from 2021-03-09 11-42-50](https://user-images.githubusercontent.com/27001378/110465647-99fb5080-80cc-11eb-9633-1713f0f92833.png)

[2021-03-09 17:23] RFMVasconcelos commented on #334
@DomFleischmann

[2021-03-09 18:30] knkski commented on #334
@RFMVasconcelos: Can you try running `pip uninstall -y enum34`? It looks like that package can conflict with the version from the standard library.

[2021-03-09 18:35] RFMVasconcelos commented on #334
![Screenshot from 2021-03-09 18-35-18](https://user-images.githubusercontent.com/27001378/110520335-3aba3200-8106-11eb-978d-05c324024e27.png)

[2021-03-09 18:36] RFMVasconcelos commented on #334
@knkski

[2021-03-09 18:44] RFMVasconcelos commented on #334
If I try to `sudo uninstall` asks for the password for `jovyan`

[2021-03-09 18:46] RFMVasconcelos commented on #334
https://github.com/jupyter/docker-stacks/issues/408 which seems to be a whole topic

[2021-03-09 18:57] knkski commented on #331
@asbalderson: Can you run `sudo apt install firefox-geckodriver`? It needs to be better documented, but here's where we install any necessary apt packages for the CI tests:

https://github.com/canonical/bundle-kubeflow/blob/master/.github/workflows/test-microk8s.yaml#L186

[2021-03-09 19:01] knkski commented on #320
In the short term, you should be able to redeploy the katib-controller to get it working. Longer term, this issue is tracking updating the katib operators, which should fix this issue:

https://github.com/kubeflow/katib/issues/1453

[2021-03-09 19:07] knkski commented on #316
@jhobbs: Sorry, this got lost the the email shuffle. Does this still happen / does it happen consistently?

[2021-03-09 21:02] knkski commented on #277
@VibratingPig: A better example would be the test pipelines, such as this one:

https://github.com/canonical/bundle-kubeflow/blob/master/tests/pipelines/cowsay.py

As far as I'm aware that is still true, but I will investigate and see if those volumes can be eliminated

[2021-03-10 20:17] davecore82 opened #335 "kubeflow-lite bundle hook failed: "install" on jupyter-controller/0"
I'm deploying cs:~kubeflow-charmers/bundle/kubeflow-lite-53 inside a k8s model with Juju 2.8.9 and I get the following juju status:

[code]

I did not investigate the blocked istio-ingressgateway/0 yet but the jupyter-controller/0 has this in the juju debug-log:

[code]

[2021-03-10 20:50] knkski commented on #335
I can reproduce this, but not quite sure what's going on, since `rules` is defined:

https://api.jujucharms.com/charmstore/v5/jupyter-controller-46/archive/reactive/jupyter_controller.py

[2021-03-11 11:01] RFMVasconcelos commented on #334
Retested this on a fresh Ubuntu server instance on AWS, same outcome.

[2021-03-15 13:47] RFMVasconcelos opened #336 "Katib on Kubeflow on MicroK8s"
Following this [discussion](https://kubeflow.slack.com/archives/C7REE0EHK/p1615727756022200), a user was having issues on using Katib with MicroK8s.

"Anytime I try to run an experiment, it created an experiment but no trials, suggestion and hyperparameter tuning occurs. "

cc @DomFleischmann @knkski

[2021-03-15 14:09] Josepholaidepetro commented on #336
This is the katib YAML file @RFMVasconcelos @knkski @DomFleischmann :

[code]

[2021-03-15 14:12] Josepholaidepetro commented on #336
This was how microk8s was setup using GCP's VM:

[code]

[2021-03-15 14:22] Josepholaidepetro commented on #336
When I apply the YAML file, the experiments gets created but when I check the Katib UI nothing gets created.

Also when i try to get trials, events or suggestions it says no trials created and no suggestions as well.

[2021-03-15 14:23] Josepholaidepetro commented on #336
[code]

[2021-03-15 14:29] RFMVasconcelos commented on #336
Thank you @Josepholaidepetro for these details!! We'll take a look into it.

[2021-03-20 11:02] kbegiedza opened #338 "Failed to get object from minio on microk8s"
I have kubeflow running via MicroK8s on VM.
When I want to access my pipeline component's output artifact:

![image](https://user-images.githubusercontent.com/8686134/111867348-a5c00000-8973-11eb-8268-f4f1d7f697ce.png)

error occurs:
[code]

When I head to `Artifacts` console shows me:
![image](https://user-images.githubusercontent.com/8686134/111867366-bcfeed80-8973-11eb-9120-74dd91ba0be3.png)

*

[2021-03-22 14:45] knkski commented on #338
@Ursanon: Can you post the pipeline that you ran and encountered this issue with?

[2021-03-22 15:16] Ursanon commented on #338
@knkski I ran this pipeline:

Code:
[code]
Zipped version:
[add_and_avg.zip](https://github.com/canonical/bundle-kubeflow/files/6183259/add_and_avg.zip)

[2021-03-22 16:06] Ursanon commented on #338
Can be reproduced with mnist sample: https://github.com/canonical/bundle-kubeflow/blob/master/tests/pipelines/mnist.py
![image](https://user-images.githubusercontent.com/8686134/112020541-b8cbff00-8b30-11eb-80b0-68064d4e2a8f.png)

[2021-03-23 12:48] Ursanon commented on #338
@knkski Are you able to reproduce this issue?

[2021-03-23 12:51] Ursanon commented on #321
related with #338

[2021-03-24 16:04] knkski commented on #335
It looks like this was caused by accidentally pushing a version of this split-off Jupyter bundle into the charm store before it was stable: https://github.com/canonical/bundle-jupyter/

Until the bundle can be updated with the correct version, the easiest way to deploy the kubeflow lite bundle is to deploy `cs:kubeflow-lite-37`

[2021-04-13 15:05] asbalderson commented on #331
ahh yeah the extra depends resolved it

[2021-04-13 15:05] #331 closed

[2021-04-13 15:18] genet022 commented on #316
@knkski Sorry its been a month since we've properly done a Kubeflow deploy. We just ran into this 5 times in a row. Here's a sample run:
https://solutions.qa.canonical.com/testruns/testRun/937d4021-44b1-4f42-a45e-555833b048d2

[2021-04-14 09:21] jaspritsingh16 opened #341 "Error: ImagePullBackOff while installing kubeflow on microk8s"
I tried installing kubeflow on microk8 but it fails to install while waiting for 1 pod.

Installation log:

[code]

Pod Status:

[code]

Metadata Api Pod Describe:

[code]

I also tried to manually download the image but that also failed
[code]
Please advise what should be the resolution here

**Environment**

- OS: Ubuntu - 20.04.2 LTS (Focal Fossa)
- microk8s: 1.20

[2021-04-20 16:26] knkski commented on #341
@jaspritsingh16: That looks like a temporary failure. Does it work if you try it again?

[2021-04-22 13:53] pablofiumara-azumo opened #343 "Can I install Kubeflow 1.2 using bundle kubeflow?"
It seems version 1.1 is installed. Source: https://github.com/canonical/bundle-kubeflow/blob/master/charms/kubeflow-profiles/metadata.yaml#L13

What can I do to install version 1.2 using the bundle?

Thanks in advance

[2021-04-27 06:46] olokshyn opened #344 "Kubeflow dashboard: Cannot load dashboard menu link"
/kind bug

**What steps did you take and what happened**:
1. On a fresh Ubuntu 20.04.02 LTS virtual machine
2. Installed kubeflow using microk8s by following [these instructions](https://ubuntu.com/tutorials/deploy-kubeflow-ubuntu-windows-mac#3-install-microk8s):

[code]
and it reported that the kubeflow is ready
3. Logged into the dashboard successfully (not from the first attempt though, there w

[2021-04-27 08:40] ajith05 commented on #344
Hi. I am also facing the same error. Took the same steps to install kubeflow on an Ubuntu 18.04.5 LTS virtual machine. Below is how the dashboard looks now.
![image](https://user-images.githubusercontent.com/21294096/116210362-6b126a00-a760-11eb-8736-8161938b0cbc.png)

Console logs:
![image](https://user-images.githubusercontent.com/21294096/116210529-94cb9100-a760-11eb-9015-f319c03c9d89.png)

Onl

[2021-04-27 21:16] knkski commented on #344
@olokshyn: Can you run `microk8s inspect` and post the generated tarball here? `microk8s.enable kubeflow` should not yet be enabling the most recent kubeflow dashboard (updating microk8s to include that version is over here: https://github.com/ubuntu/microk8s/pull/2213).

At any rate, you can manually create the configmap as a workaround with this command:

    microk8s kubectl apply -n kubeflow -

[2021-04-28 01:06] olokshyn commented on #344
@knkski thanks for your workaround! I can confirm it fixes the problem!

The inspection report is attached: [inspection-report-20210428_035406.tar.gz](https://github.com/canonical/bundle-kubeflow/files/6388434/inspection-report-20210428_035406.tar.gz).

[2021-04-28 17:59] asbalderson opened #347 "Dex-auth failing to start on k8s 1.21"
When deploying the kueflow bundle on k8s 1.20 there are no problems; but when switching to 1.21, the dex-auth charm is failing to come up:

on both k8s versions the cs:kubeflow bundle is deployed alongside an overlay setting the user and password for dex-auth to "admin"

the juju logs show:
DEBUG:root:dex-auth/0 workload status is error since 2021-04-20 22:02:09+00:00
and the logs for the dex-auth

[2021-04-29 10:30] RFMVasconcelos opened #348 "Kubeflow - 'Cannot load dashboard menu link'"
Installed `kubeflow-lite` via `juju deploy` and accessing the dashboard only home appears:

![Screenshot from 2021-04-29 12-29-05](https://user-images.githubusercontent.com/27001378/116537457-8c04c780-a8e6-11eb-8b9d-1bea9fe33a64.png)

[2021-04-29 10:30] RFMVasconcelos commented on #348
cc @knkski @DomFleischmann

[2021-04-29 11:11] RFMVasconcelos commented on #348
Same happening on deploying the whole Kubeflow bundle

[2021-04-29 11:20] RFMVasconcelos commented on #348
According to [slack discussion](https://kubeflow.slack.com/archives/CQHMK8F09/p1619541727022000), creating this [configmap](https://github.com/kubeflow/manifests/blob/master/apps/centraldashboard/upstream/base/configmap.yaml) might solve it

[2021-04-30 04:35] aloysius-lim opened #351 "oidc-gatekeeper callback fails with invalid client credentials error"
Environment: AKS (Azure)
Installation steps: Followed the steps in https://charmed-kubeflow.io/docs/install
Bundle version: Latest (probably 262)
Client browser: Safari 14.0.3 & Chrome 90.0.4430.93

When logging in to Kubeflow, authentication seems to have succeeded, but the callback to `/authservice/oidc/callback` fails with an "Invalid client credentials" error. Nothing in the Kubeflow bundle is

[2021-04-30 07:48] aloysius-lim commented on #351
After some further digging, it appears that the client secret in dex-auth and oidc-gatekeeper pods are different.

In oidc-gatekeeper pod:

[code]

In dex-auth pod (output truncated):

[code]

[2021-04-30 11:59] aloysius-lim commented on #351
A couple of further observations that might help:

Reinstalling kubeflow completely seemed to solve the problem.

The secret keys between oidc-gatekeeper and dex-auth seem to go out of sync if I apply any config change (juju config) to dex-auth, causing it to restart. But not the other way around -- when I applied a config change to oidc-gatekeeper, a new secret key was created and updated properl

[2021-05-01 16:04] brendanobra commented on #347
I'm also encountering this.  I believe it is because the pod is configured to mount a serviceaccount token that was never created:
[code]
...
[code]
kubectl -n kubeflow get secret | grep  kube-api-access-mwpfn
returns nothing ^^^

[2021-05-02 14:24] flvritski opened #353 "This site can't be reached."
After following the next commands:
`sudo snap install microk8s --classic
sudo usermod -a -G microk8s $USER
sudo chown -f -R $USER ~/.kube
microk8s status --wait-ready
microk8s enable kubeflow
`
![Screenshot from 2021-05-02 17-23-29](https://user-images.githubusercontent.com/38634872/116816592-37be4980-ab6b-11eb-8bad-2b6c023cd93b.png)

Everything is deployed fine, every single pod is running, but w

[2021-05-03 18:26] ChrisEdel opened #354 "Kubeflow Dashboard - HTTP Error 403 Forbidden"
Hi!

We followed this installation guide: https://ubuntu.com/tutorials/deploy-kubeflow-ubuntu-windows-mac#1-overview
In addition, we had to find this fix to access the dashboard: https://github.com/canonical/bundle-kubeflow/issues/344#issuecomment-827936799

The strange thing is, it already worked, we already started a jupyter Notebook last Friday (30.4.2021). Actually, it worked on two different

[2021-05-04 04:43] onurgu commented on #344
I followed the same steps with the OP. But, while this command makes the menu visible, when I click one of the items it does not work as expected:

![image](https://user-images.githubusercontent.com/56893/116961558-52e4a280-acac-11eb-9f92-ae9db29e7ab7.png)

[2021-05-04 06:53] onurgu commented on #354
I can confirm this. I have the same error.

[2021-05-04 07:28] ChrisEdel commented on #354
Have you been able to resolve this issue? We‘re still working on it, but no luck so far!

[2021-05-04 07:42] DomFleischmann commented on #354
It seems like `xip.io` is not available anymore, we are currently working on a fix.

[2021-05-04 08:13] ChrisEdel commented on #354
Is there are workaround to just not use xip.io for a while locally?
That would help a lot!

[2021-05-05 16:24] ChrisEdel commented on #354
Just in case anyone else is having this issue, the following installation guide (which apparently does not rely on `xip.io`) worked for us: https://github.com/kubeflow/manifests#install-with-a-single-command

[2021-05-06 07:14] DomFleischmann commented on #354
Sorry, I didn't see the last question, if you just substitute `xip.io` with `nip.io` everything should work fine. We are currently working on changing our docs.

[2021-05-06 11:29] radutoev opened #355 "microk8s kubeflow unable to start"
Hello,
I am trying to install Kubeflow add-on on microk8s following [this](https://www.kubeflow.org/docs/distributions/microk8s/kubeflow-on-microk8s/) guide, but I cannot get it running.

I am running a 8vCPU 19GB RAM and 80GB HDD Ubuntu 20.04.2 LTS VM, and what I notice is that there are some pods that fail the startup process.

![image](https://user-images.githubusercontent.com/380429/117290586-

[2021-05-06 12:36] RFMVasconcelos opened #356 "Microk8s disable Kubeflow err"
`microk8s disable kubeflow` gives the following error:

![Screenshot from 2021-05-06 13-09-53](https://user-images.githubusercontent.com/27001378/117298791-abb06880-ae6f-11eb-8d9c-d53282050508.png)

This is not super high priority as I can `sudo snap remove microk8s --purge` but it feels like brute force, and I might want to preserve my MicroK8s cluster.

[2021-05-10 02:30] brendanobra commented on #347
I believe this is the underlying issue: https://github.com/dexidp/dex/issues/2082
So not really a kubeflow issue

[2021-05-10 07:20] DomFleischmann commented on #347
This issue has been [fixed](https://github.com/canonical/dex-auth-operator/pull/8) and is available on the latest kubeflow bundles.

[2021-05-10 07:20] #347 closed

[2021-05-10 13:18] mat-ej commented on #354
I have the same issue with dex-auth. I followed the documentation exactly to the dot:
[https://charmed-kubeflow.io/docs/install](https://charmed-kubeflow.io/docs/install)

only thing I changed in the tutorial is  the env variable for dex-auth KUBERNETES_POD_NAMESPACE according to this:
[https://github.com/canonical/dex-auth-operator/pull/8](https://github.com/canonical/dex-auth-operator/pull/8)

-

[2021-05-10 13:20] mat-ej commented on #351
I have the same exact problem. Uninstalling kubeflow and reinstalling did not solve the problem.

![Screenshot at 2021-05-10 12-34-47](https://user-images.githubusercontent.com/10036980/117665580-462be700-b1a3-11eb-9736-71c22137b75c.png)

![Screenshot at 2021-05-10 12-12-49](https://user-images.githubusercontent.com/10036980/117665600-4deb8b80-b1a3-11eb-8ec1-71faa444428e.png)

[2021-05-10 14:08] DomFleischmann commented on #354
@mat-ej there was an additional issue with dex-auth that should be fixed now in the latest bundle. To get that one please follow the instructions you mentioned on https://charmed-kubeflow.io/docs/install but using this command in the deploy step:
`juju deploy cs:kubeflow-lite` or `juju deploy cs:kubeflow` for the full bundle.

[2021-05-11 03:09] Deadleg commented on #268
Adding a bit more detail; the operator logs this error:

[code]

Which requires the `istio-ingressgateway-operator` role to be updated with `get` permissions for `configmaps`.

[2021-05-11 06:54] DomFleischmann commented on #268
On which version are you testing this?

[2021-05-12 08:05] DomFleischmann commented on #268
@Deadleg okay so, the issue that @jhobbs filed should be resolved by now, I think your issue might be specific to EKS as we don't actively test against EKS. If you have the option of deploying on some other kubernetes like AKS, Charmed Kubernetes or Microk8s you will probably get better results.

Eitherway a new issue for this bug on EKS should probably be opened.

[2021-05-12 10:04] sudopedia commented on #354
I have installed microk8s successfully on an Ubuntu AWS Instance and enabled kubeflow as well.
The dashboard credentials are displayed.
Have tunneled my way to port 9999, using SSH.

When trying to access the kuberflow dashboard IP, the webpage (Dashboard) doesn't load up and throws a 403 error.

How can I fix this issue so I can access my dashboard? Any help and assistance is appreciated.
Regards

[2021-05-12 10:14] ajith05 opened #358 "Kubeflow Dashboard - 403 Forbidden"
Hi

We followed the documentation given [here](https://www.kubeflow.org/docs/distributions/microk8s/kubeflow-on-microk8s/) to install kubeflow. We were not able to access the dashboard using the url provided in the output which is http://10.64.140.43.xip.io. We got to know from #354 that `xip.io` is not working and we should try `nip.io`. With `nip.io`, we are getting 403 Forbidden error. We are n

[2021-05-12 11:06] DomFleischmann commented on #354
There was an issue with dex-auth that has been fixed in the latest bundle which is available on the `latest/edge` microk8s channel

[2021-05-12 11:06] DomFleischmann commented on #358
There was an issue with dex-auth that has been fixed in the latest bundle which is available on the `latest/edge` microk8s channel. Please install that one.

[2021-05-12 13:08] sudopedia commented on #354
So we tried the latest/edge microk8s channel.
All the pods seem to be running correctly. The URL http://10.64.140.43.nip.io/ has generated again. When accessing the URL, the login page loads correctly. After the credentials are entered, the page goes blank again and encounters '403' error.

Any advice on overcoming this?
Regards.

[2021-05-12 13:11] ajith05 commented on #358
Hi! I tried installing microk8s on `latest/edge` channel as you said. I am able to see the login page as below
![image](https://user-images.githubusercontent.com/21294096/117980293-72856600-b351-11eb-998f-52e8f907f43d.png)

But after login it is giving 403 error code again.
![image](https://user-images.githubusercontent.com/21294096/117980446-9779d900-b351-11eb-838f-76e15e0043b7.png)

[2021-05-12 15:33] brettkoonce commented on #354
You might consider upgrading to 1.3: https://github.com/ubuntu/microk8s/issues/2253#issuecomment-838158746

[2021-05-12 15:34] brettkoonce commented on #358
See also #354.

You might consider upgrading to 1.3: https://github.com/ubuntu/microk8s/issues/2253#issuecomment-838158746

[2021-05-12 15:38] brettkoonce opened #359 "kubeflow 1.3 not creating gpu notebooks"
I was able to get a kubeflow 1.3 installation using microk8s 1.21 and the steps documented here (with a --purge of microk8s/juju before):  https://github.com/ubuntu/microk8s/issues/2253#issuecomment-838158746

However, when creating a new notebook, I get the following error:

<img width="685" alt="Screen Shot 2021-05-11 at 11 40 03 AM" src="https://user-images.githubusercontent.com/11281814/118003

[2021-05-12 16:20] ajith05 commented on #358
Do you mean microk8s or kubeflow?

As far as I am aware, there is no microk8s v1.3, correct me if I am wrong.

If you mean kubeflow, please let me know how I can choose/upgrade kubeflow version using microk8s method.

[2021-05-12 16:43] brettkoonce commented on #358
@ajith05 kubeflow, see the link in my comment above!

[2021-05-13 07:02] DomFleischmann commented on #359
Thank you for pointing this out! Have you had any success with a custom image?

[2021-05-13 13:49] DomFleischmann commented on #359
Also is this with the microk8s gpu addon enabled?

[2021-05-13 15:46] brettkoonce commented on #359
yes I am using the GPU addon, it pulled down the new operator I believe.  Will try a custom image in a bit.

[2021-05-13 16:17] brettkoonce commented on #359
hmm...

[2021-05-14 07:13] DomFleischmann commented on #359
So it might be an issue with `microk8s.enable gpu` @joedborg or @ktsakalozos, is this output expected?

[2021-05-14 15:55] brettkoonce commented on #359
creating cpu-only containers works, for what it's worth.  happy to tear down/rebuild things once the official release goes live.  happy to help trouble shoot things!

[2021-05-21 09:27] lukemarsden opened #360 "kubeflow 1.3 not working with rbac on microk8s or minikube"
## kubeflow 1.3 + microk8s 1.21 + rbac
[code]
then
[code]
leads to a hang on

[code]
that's
[code]
also:
[code]

## kubeflow 1.3 + minikube installing k8s 1.21
upon logging in (after working around https://github.com/canonical/bundle-kubeflow/issues/351#issuecomment-830044248 by carefully updating the config of oidc-gatekeeper second)
[code]
errors with:
[code]
and the UI errors with `configmaps "

[2021-05-21 14:50] #276 closed

[2021-05-21 15:43] lukemarsden opened #361 "kubeflow deploy deadlocks after deploying admission-webhook"
Running the following script:
https://github.com/mlopsworks/charms/blob/main/integration_test_microk8s

On Ubuntu 20.10, I get a kubeflow setup that's stuck:

![image (5)](https://user-images.githubusercontent.com/264658/119163345-3c339f00-ba53-11eb-86b2-d712597407bc.png)

[code]
is full of:
[code]

the admission-webhook pod seems fine:
[code]

there is an admission-webhook service...

[code]

so

[2021-05-21 15:57] lukemarsden commented on #361
[code]

unblocks things, but I have no idea what it might have broken 🙀

https://github.com/ubuntu/microk8s/issues/1439 is possibly related, although I'm suspicious of failing to wait for the network check being the issue 🤔

[2021-05-22 15:48] #358 closed

[2021-05-24 12:49] DomFleischmann commented on #351
I have been able to reproduce this bug and identify the issue, new secrets are created each time a new unit is added but these secrets aren't passed to the oidc-gatekeeper deployment. I'm working on a fix where we either maintain the same secret over all units or we force the deployment to be updated.

[2021-05-26 14:07] #354 closed

[2021-05-26 14:07] #351 closed

[2021-05-26 16:39] RFMVasconcelos opened #363 "Implementing new Katib UI"
The v1.3 Kubeflow Katib UI has a different image it might be worth moving to the latest image when possible.

![Screenshot from 2021-05-26 17-38-07](https://user-images.githubusercontent.com/27001378/119698457-2bb36800-be49-11eb-8855-d5cf097744cd.png)

[2021-05-26 16:45] RFMVasconcelos opened #364 "Logout button causes crash loop"
When you click logout on the dashboard it loops and does not load any page.

![Screenshot from 2021-05-26 17-43-54](https://user-images.githubusercontent.com/27001378/119699434-1428af00-be4a-11eb-88b3-e6310c45e78d.png)

[2021-05-26 16:48] RFMVasconcelos opened #365 "Nested tabs repeated"
The pipelines UI is nested with repeated tabs. This is odd.

![Screenshot from 2021-05-26 17-46-31](https://user-images.githubusercontent.com/27001378/119699704-56ea8700-be4a-11eb-85fb-e3d6a4eb0aa0.png)

Low priority, but would be nice to fix.

[2021-05-26 16:49] RFMVasconcelos opened #366 "Example pipeline err - DSL - Control structures"
![Screenshot from 2021-05-26 17-48-51](https://user-images.githubusercontent.com/27001378/119700011-a8931180-be4a-11eb-92eb-6a43033c7b8b.png)

[2021-05-26 16:50] RFMVasconcelos opened #367 "Example pipeline err - TFX - Taxi tip prediction model trainer"
![Screenshot from 2021-05-26 17-50-05](https://user-images.githubusercontent.com/27001378/119700195-d4ae9280-be4a-11eb-9f79-003e095bf67d.png)

[2021-05-26 16:51] RFMVasconcelos commented on #367
csvexamplegen logs:

[code]

[2021-05-26 16:52] RFMVasconcelos opened #368 "Example pipeline err - XGBoost - Iterative model training"
![Screenshot from 2021-05-26 17-52-17](https://user-images.githubusercontent.com/27001378/119700460-25be8680-be4b-11eb-8bca-8e5f90261e54.png)

[2021-05-26 16:53] RFMVasconcelos commented on #301
This issue is outdated.

[2021-05-26 16:53] #301 closed

[2021-06-02 13:29] #356 closed

[2021-06-03 01:41] KYUNGSOO-LEE opened #369 "x509 err - Kubeflow Deployment"
run command:
   #) juju deploy cs:kubeflow-lite

err below:
   **ERROR cannot resolve charm URL "cs:kubeflow-lite": cannot get "/kubeflow-lite/meta/any?include=id&include=supported-series&include=published": Get "https://apiow-lite/meta/any?include=id&include=supported-series&include=published": x509: certificate signed by unknown authority**

I updated my certification. when I run command ( **"cu

[2021-06-03 01:53] KYUNGSOO-LEE commented on #369
debug log :
juju deploy cs:kubeflow-lite --debug
10:49:15 INFO  juju.cmd supercommand.go:56 running juju [2.9.3 0 16f33363aae986b8775dd1f7e5b3782e274a045e gc go1.14.15]
10:49:15 DEBUG juju.cmd supercommand.go:57   args: []string{"/snap/juju/16337/bin/juju", "deploy", "cs:kubeflow-lite", "--debug"}
10:49:15 INFO  juju.juju api.go:78 connecting to API addresses: [10.233.36.39:17070]
10:49:16 DEBUG j

[2021-06-03 14:19] aencalado commented on #359
Any updates? I am experiencing the same problem

[2021-06-08 00:03] knkski commented on #369
@KYUNGSOO-LEE Are you on a machine that has restricted HTTPS certificates? I'm not sure why you'd be seeing this issue otherwise, as api.jujucharms.com has a valid certificate

[2021-06-09 17:59] edhenry commented on #369
@KYUNGSOO-LEE Are you behind a proxy where the cluster is being deployed? The added certificate from the proxy in the chain breaks the certificate validation mechanisms within python.

I had similar issues with this and once an exception was added for `api.jujucharms.com` everything functioned fine.

You can verify that certificates for the URL using CURL as shown below.

[code]

It should produce

[2021-06-10 08:17] elgiewindhu commented on #289
Hi @knkski, I 'm facing the same issue here, my microk8s version is 1.20/stable. I uploaded the tarball here.

[inspection-report-20210610_095430.tar.gz](https://github.com/canonical/bundle-kubeflow/files/6629546/inspection-report-20210610_095430.tar.gz)

And I' facing a syntax error, everytime I try to disable kubeflow (I tried as suggestion to disable and enable kubeflow):

[code]

[2021-06-11 07:34] KYUNGSOO-LEE commented on #369
Yes, I am on a machine that has restricted HTTPS certificates. I added my private certificate and update.
When I run CURL command. Below result:

[code]
I would use proxy server of my company. How to add exception for api.jujucharms.com in my machine?

[2021-06-11 16:12] edhenry commented on #369
There are ways to disable the verification using environmental variables, ***though it must be mentioned that the solution has potential of increasing an attack surface of a system leveraging the workaround.***

That said, if you set the environmental variable `PYTHONHTTPSVERIFY=0` this _should_ allow disabling of the verification when the Python interpreter is envoked.

Something like this should

[2021-06-12 01:50] edhenry opened #370 "503: Service Unavailable: from OIDC Gatekeeper"
I'm attempting to deploy bundle-kubeflow on a baremetal k8s cluster provisioned and deployed by MAAS and juju. The base OS is Ubuntu 18.04, CDK and Ceph are both deployed on the baremetal.

The installation seems to go smooth in that all applications are deployed from the juju perspective, shown below :

[code]
I did have to apply a patch for that doesn't seem to be found in the documentation host

[2021-06-13 00:07] DnPlas opened #371 "'Sorry, /katib/ is not a valid page' after deploying katib"
I've followed [these](https://github.com/kubeflow/katib/tree/master/operators#5-deploy-the-katib-bundle) instructions to deploy katib on an existing Kubeflow deployment. I was expecting to be able to click on the 'Experiments (AutoML)' tab and see Katib UI, but instead I get the message 'Sorry, /katib/ is not a valid page'.

Besides running `juju deploy katib`, I have not ran any other command (li

[2021-06-13 01:06] DnPlas opened #372 "Broken link in Tensorflow Jobs section"
The link to mnist.yaml is broken (file removed by 0e98400). Updating the link on that [section](https://github.com/canonical/bundle-kubeflow#tensorflow-jobs) to point to the example in tfjob-operator would solve the issue.

[2021-06-13 13:08] evilnick commented on #371
Hi, thanks for reporting this issue. I will have to look at it further, but I think it is likely that something has changed in Kubeflow 1.3, which is now the current version

[2021-06-14 13:30] RFMVasconcelos opened #374 "Non-deterministic pipeline runs"
Pipelline runs appear to be stochastic, e.g. I installed Kubeflow and ran the pre-built XGBoost example. The pipeline broke the first 2 times I ran it, but worked the third time..

![Screenshot from 2021-06-14 14-28-05](https://user-images.githubusercontent.com/27001378/121899952-ca323b00-cd1c-11eb-82cc-ae4053415482.png)

Thought this might be interesting to document / discuss.

[2021-06-14 14:22] #343 closed

[2021-06-14 14:29] DomFleischmann commented on #360
Regarding the `istio-ingressgateway` charm being stuck in a waiting status this additional step is needed for it to work in an rbac environment:
`kubectl patch role -n kf istio-ingressgateway-operator -p '{"apiVersion":"rbac.authorization.k8s.io/v1","kind":"Role","metadata":{"name":"istio-ingressgateway-operator"},"rules":[{"apiGroups":["*"],"resources":["*"],"verbs":["*"]}]}'`

This was accidenta

[2021-06-14 15:09] evilnick commented on #360
The docs have been updated now

[2021-06-14 17:22] brettkoonce commented on #359
still seeing this w/ 20.04 + microk8s 1.20 +

[code]

[2021-06-14 18:27] #372 closed

[2021-06-14 18:31] knkski commented on #371
@DnPlas I think the missing link here for you is setting up this relation that we have defined in `bundle.yaml`:

https://github.com/canonical/bundle-kubeflow/blob/master/bundle.yaml#L35

You should be able to run `juju relate istio-pilot katib-ui` and have that route set up for you. @evilnick @RFMVasconcelos this seems like a documentation bug that we should fix

[2021-06-15 03:50] DnPlas commented on #371
Ah! Thanks @knkski that makes total sense and solves it for me. Feel free to keep this bug open if you'd like to track the documentation bug; otherwise, feel free to close it.

[2021-06-15 05:51] elgiewindhu commented on #289
I forgot to apply the NO_PROXY on var/snap/microk8s/current/args/containerd-env, while I set the HTTP-PROXY behind my coorporate firewall. 🤦

![image](https://user-images.githubusercontent.com/64198668/121998898-dfef4100-cdac-11eb-801a-7bf9c697f2ac.png)

So I tried to get the information about this 'calico-kube-control'-container with `microk8s kubectl describe all`  and apparently the container c

[2021-06-15 09:26] evilnick commented on #371
I updated [this page](https://discourse.charmhub.io/t/customize-your-kubeflow-deployment/3813) in the docs, but there should be some more general guidance on adding charms

[2021-06-15 09:26] #371 closed

[2021-06-16 13:39] DomFleischmann commented on #360
I haven't been able to reproduce the kubeflow-dashboard issue with the latest kubeflow bundle on microk8s `1.20/candidate`. @lukemarsden Can you test this again with the latest bundle on your environment and see if you can reproduce it still?

[2021-06-21 07:49] RosaCandela opened #375 "Unable to create Experiment from Dashboard"
/kind bug

**What steps did you take and what happened:**

We installed Kubeflow from Microk8s on a Ubuntu VM, using the following commands:
- sudo snap install microk8s --classic --channel=1.21
- sudo usermod -a -G microk8s $USER
- sudo chown -f -R $USER ~/.kube
- sudo reboot
- microk8s enable kubeflow

We accessed the dashboard using the link http://10.64.140.43.nip.io/, displayed at the end of

[2021-06-21 12:51] DomFleischmann commented on #363
I'm not sure if the screenshot you posted is the outdated UI or how the new one should look. There seems to be a new UI but it doesn't seem to have feature parity with the old one yet. More info [here](https://www.kubeflow.org/docs/components/katib/hyperparameter/#the-new-katib-ui).

If you were expecting the new UI, in my opinion I think we are fine with the old UI for this release and we could c

[2021-06-21 12:56] RFMVasconcelos commented on #363
I see! My intent with this issue was to discuss when we should move to the new Katib UI. Given that feature parity is not there yet, it looks like we might want to delay the move.

Let's perhaps keep this issue to track the change.

[2021-06-25 09:41] DomFleischmann commented on #119
With this issue being almost 2 years old and Charmed Kubeflow having changed a lot we will close this issue.

If you are able to reproduce this in the latest kubeflow bundle and the issue is still relevant feel free to reopen it.

[2021-06-25 09:41] #119 closed

[2021-06-25 09:42] DomFleischmann commented on #123
With this issue being almost 2 years old and us using new tensorflow images this issue will be close.

If you are able to reproduce this in the latest kubeflow bundle and the issue is still relevant feel free to reopen it.

[2021-06-25 09:42] #123 closed

[2021-06-25 09:46] DomFleischmann commented on #219
Wit this issue being almost 1 year old and juju being now on 2.9 we can close this issue.

If you are able to reproduce this in the latest kubeflow bundle and the issue is still relevant feel free to reopen it.

[2021-06-25 09:46] #219 closed

[2021-06-25 09:50] DomFleischmann commented on #240
@DavidSpek is this issue still relevant?

[2021-06-25 09:52] DomFleischmann commented on #254
This seemed to have been an issue of the specific bundle and juju version mentioned in the issue. With this not ocurring in the latest bundle and juju version we will procede to close this issue.

[2021-06-25 09:52] #254 closed

[2021-06-25 09:54] DomFleischmann commented on #259
With the currently recommended microk8s versions for the Kubeflow addon being 1.20 and 1.21 we can close this issue.

If you are able to reproduce this in the latest kubeflow bundle and the issue is still relevant feel free to reopen it.

[2021-06-25 09:54] #259 closed

[2021-06-25 10:06] DomFleischmann commented on #260
This should be fixed by now.

If you are able to reproduce this with the latest microk8s release please feel free to reopen this issue.

[2021-06-25 10:06] #260 closed

[2021-06-25 10:08] DomFleischmann commented on #266
This issue should be fixed by now and will therefore be closed.

If you are able to reproduce this in the latest microk8s release and the issue is still relevant feel free to reopen it.

[2021-06-25 10:08] #266 closed

[2021-06-25 10:11] DomFleischmann commented on #268
Currently with RBAC the following manual step is required:
`kubectl patch role -n kubeflow istio-ingressgateway-operator -p '{"apiVersion":"rbac.authorization.k8s.io/v1","kind":"Role","metadata":{"name":"istio-ingressgateway-operator"},"rules":[{"apiGroups":["*"],"resources":["*"],"verbs":["*"]}]}'`

This is documented in our [official documentation](https://charmed-kubeflow.io/docs/install)

[2021-06-25 13:16] DomFleischmann commented on #281
With the latest kubeflow bundle this should be fixed.

[2021-06-25 13:16] #281 closed

[2021-06-25 13:18] DomFleischmann commented on #282
With the latest release of kubeflow this should be fixed.

If you are still encountering this problem in the latest microk8s version please re open this issue.

[2021-06-25 13:23] #292 closed

[2021-06-25 13:25] DomFleischmann commented on #320
The operators have been updated and this issue should be resolved.

[2021-06-25 13:25] #320 closed

[2021-06-25 13:27] DomFleischmann commented on #335
With the latest bundle being relased this issue can be closed.

[2021-06-25 13:27] #335 closed

[2021-06-25 13:35] DomFleischmann commented on #336
@Josepholaidepetro are you able to reproduce this with latest microk8s and kubeflow versions?

[2021-06-25 13:59] DomFleischmann commented on #370
The revision of the `oidc-gatekeeper` charm seems to be out of date this should be fixed with revision `54`. Please try deploying again with the latest bundle or execute `juju upgrade-charm oidc-gatekeeper`

[2021-06-25 13:59] #370 closed

[2021-06-25 23:48] edhenry commented on #370
Hi  @DomFleischmann - thank you for following up!

I've tried redeploying using the latest bundle but it seems the issue still persists.

oidc-gateway logs
---
[code]
juju status :
---
[code]

Any ideas?

[2021-06-27 08:55] aym-frikha opened #376 "Issue with kale image in Kubeflow"
Hello,

When I tried to launch a pipeline using Kale, I got this error:

Type: RPC

Method: kfp.list_experiments()

Code: 6 (UnhandledError)

Transaction ID: ig1aamdmvk

Message: HTTPConnectionPool(host='ml-pipeline.kubeflow.svc.cluster.local', port=8888): Max retries exceeded with url: /apis/v1beta1/healthz (Caused by NewConnectionError(': Failed to establish a new connection: [Errno 110] Connect

[2021-06-27 08:58] aym-frikha commented on #376
I've created the kale image using those commands:
# clone and build Kale’s image
$ git clone https://github.com/kubeflow-kale/kale
$ cd kale/docker/jupyterlab
$ sudo docker build . -t localhost:32000/kale
$ sudo docker push localhost:32000/kale

[2021-06-29 16:15] aym-frikha opened #377 "Charm store does not reflect the latest code version for kfp-api"

[2021-06-29 16:27] aym-frikha opened #378 "Could not run Kale pipeline"
![image](https://user-images.githubusercontent.com/1623989/123834334-5162df80-d8d5-11eb-9cf6-cb66a6b89225.png)

[2021-06-29 16:37] aym-frikha commented on #378
Updating the mlmd service resolved the issue:

apiVersion: v1
kind: Service
metadata:
  name: metadata-grpc-service
  namespace: kubeflow
spec:
  ports:
  - name: grpc-api
    port: 8080
    protocol: TCP
    targetPort: 8080
  selector:
    app.kubernetes.io/name: mlmd
  type: ClusterIP

[2021-06-30 21:17] knkski commented on #369
@KYUNGSOO-LEE: I believe this documentation will fix the issue for you:

https://discourse.charmhub.io/t/adding-trusted-certificate-authority-certificates-ca-certs-to-machines-including-machines-yet-to-be-provisioned/2289

Closing this issue since the documentation seems to fix the issue, feel free to reopen if it doesn't

[2021-06-30 21:17] #369 closed

[2021-07-09 08:25] woropajj opened #381 "Notebooks server 404"
Installation steps:
`sudo snap install microk8s --classic`
`microk8s enable dashboard dns storage`
`microk8s enable metallb:192.168.1.10-192.168.1.50`
`microk8s enable kubeflow`

On Kubeflow dashboard, after clicking "Create a new Notebook server" I get the following page:
![Screenshot from 2021-07-09 10-19-22](https://user-images.githubusercontent.com/57800049/125047495-537c2980-e09f-11eb-8851-e0

[2021-07-12 09:36] nitesh31mishra commented on #381
Even I am also having the same issue.... It's been a week now but couldn't find a solution to it.....
It would be great if someone could please help in solving this issue ...
I have opened the same issue on the kubeflow repo, but I have not received any leads yet...

A similar issue is opened over here..
https://github.com/kubeflow/kubeflow/issues/6031

[2021-07-13 16:21] Benjamin-Etheredge commented on #381
I had this same issue with `microk8s enable kubeflow`. So I followed the charmed install guide of Kubeflow to install it on top of microk8s and ran into the same issue again. Based on the charmed install guide, I tried `juju deploy cs:jupyter-web`, and it seemed to resolve the issue.

[2021-07-13 17:18] nitesh31mishra commented on #381
It's nice... Actually, I have tried the same thing but I was not able to access the notebook.... Apart from running this` juju deploy cs:jupyter-web` you have done anything else ?? Like created any relation between services and all ???

[2021-07-13 17:25] Benjamin-Etheredge commented on #381
I had to do a ton of things just to get the charmed install to work. But nothing besides that to get notebooks up.
I used a mish-mash of https://www.kubeflow.org/docs/distributions/charmed/install-kubeflow/, https://charmed-kubeflow.io/docs/install, and https://www.youtube.com/watch?v=M_Ama8ZY8OQ.
None of them worked on their own. I also had to use to skip steps before `juju bootstrap` and use `ju

[2021-07-14 16:44] Benjamin-Etheredge commented on #381
I installed on microk8s running on Ubuntu 20.04 server. I used `cs:kubeflow`, not kubeflow-lite.

[2021-07-15 13:57] lenaherrmann-dfki commented on #381
Same bug here.

Are there any solutions available?

[2021-07-16 02:43] fengredrum commented on #381
Same error.

Here is my installation steps:
`sudo snap install microk8s --classic`
`microk8s enable dashboard dns storage`
`microk8s enable metallb:192.168.1.10-192.168.1.50`
`microk8s config > ~/.kube/config`
`sudo snap install juju --classic`
`juju add-k8s myk8s`
`juju bootstrap myk8s my-controller`
`juju add-model kubeflow`
`juju deploy cs:kubeflow`
`juju deploy cs:jupyter-web`

After all the p

[2021-07-16 02:52] fengredrum commented on #381
@Benjamin-Etheredge Could you kindly tell us your installation steps and software versions? So we can follow up

[2021-07-16 06:50] lenaherrmann-dfki commented on #381
Hey,

yesterday I installed an older version of that bundle, and it seems like some relations are missing.

For example the virtualservice for jupiter-web is missing (besides others)

My setup is the same as the one from @fengredrum .

[2021-07-16 07:34] maxtaq commented on #381
I have solved the problem in the following way.

1. first install it by following these steps
https://charmed-kubeflow.io/docs/install

2. and then do the following.
[code]
"10" should be the appropriate version. At the moment it is 10.

Then I clicked on the Notebook in the kubeflow-dashboard and it came back.

3. if ImagePullBackOff error occurs.
The reason is that the DNS of the OS (Ubuntu) no

[2021-07-16 08:20] lenaherrmann-dfki commented on #381
Thanks @maxtaq, I'll give it a try.

[2021-07-16 09:10] fengredrum commented on #381
Thanks for your suggestion. I've tried your method, but still got the same error 🙁

<img width="1279" alt="image" src="https://user-images.githubusercontent.com/26370917/125923502-e3b48cee-46ad-4139-b928-31d4967ab022.png">

[2021-07-16 09:13] nitesh31mishra commented on #381
I was facing a similar issue in kubeflow 1.3 latest version.. but things were working in 1.2. I am currently working on 1.2

[2021-07-16 09:17] fengredrum commented on #381
Do you know which juju bundle is corresponding to Kubeflow 1.2?😂😂😂

`juju deploy cs:bundle/kubeflow-269`

[2021-07-16 09:20] lenaherrmann-dfki commented on #381
Hey,

Because it seems that there is no list of available bundles, I tried **kubeflow-245**.  But with that version the dex-auth deployment did not start at all.

[2021-07-16 10:59] lenaherrmann-dfki commented on #381
When you list the virtualservices after the installation

`microk8s kubectl get virtualservice -n kubeflow`

you can see that jupyter-web is not there

![image](https://user-images.githubusercontent.com/85176444/125937474-9ad6408b-3b62-4fdb-b772-18d00af6e6d7.png)

How can jupyter-web be integrated here properly?

[2021-07-16 15:25] ca-scribner opened #383 "Cannot connect to dashboard (403: forbidden) after deployment"
After doing a `microk8s enable kubeflow` to deploy the bundle (trying both full and lite bundles) on a local machine, the Kubeflow web portal was inaccessible returning a 403 (forbidden) and some juju applications weren't working as expected.  It feels like there's both microk8s and kubeflow bundle problems being encountered - for the microk8s specific ones I'll open something else there as well,

[2021-07-16 16:13] knkski commented on #383
I think the root issue you're seeing here is that `istio-ingressgateway` wasn't set up correctly. Although it eventually came up, at the time [this code](https://github.com/ubuntu/microk8s/blob/07bd9daf2e95b0257db97ca1f8fb90b885ab67b2/microk8s-resources/actions/enable.kubeflow.sh#L375-L393) ran, `service/istio-ingressgateway` didn't have a loadbalancer IP set up by metallb yet.

You should be able

[2021-07-16 19:07] ca-scribner commented on #383
After more debugging I could not get the `oidc-gatekeeper` application to behave, so I tried:
* destroying the juju applications `dex-auth` and `oidc-gatekeeper`
* redeploying/re-relating/adding missing config settings (replicating the settings that [the enable kubeflow script](https://github.com/ubuntu/microk8s/blob/07bd9daf2e95b0257db97ca1f8fb90b885ab67b2/microk8s-resources/actions/enable.kubefl

[2021-07-16 19:07] #383 closed

[2021-07-16 20:56] ca-scribner commented on #381
I hit the same issue and @maxtaq 's solution solved it for me except that my bundle version I had deployed uses the `jupyter-ui` charm and not `jupyter-web` (I believe older bundles used `jupyter-web`, but the charm has been renamed to `jupyter-ui`).

`juju status` showed I was using `jupyter-ui` version 9.  Updating to the current version (10) using `juju refresh jupyter-ui --revision 10` and wai

[2021-07-17 02:56] fengredrum commented on #381
Thanks a lot!!! This solution works for me.🎉🎉🎉

Here is my whole setup:
Ubuntu 20.04 on AWS EC2 with 4 CPUs, 16Gb RAM and 100Gb disk space
`sudo snap install microk8s --classic`
`microk8s enable dashboard dns storage`
`microk8s enable metallb:10.64.140.43-10.64.140.49`
`microk8s config > ~/.kube/config`
`sudo snap install juju --classic`
`juju add-k8s myk8s`
`juju bootstrap myk8s my-controller`
`j

[2021-07-17 11:40] ca-scribner commented on #381
Awesome! Glad someone else can reproduce too :D

On Fri, Jul 16, 2021 at 22:56 Oblivion ***@***.***> wrote:

[2021-07-28 01:59] knkski commented on #381
This should now be fixed in the stable version of Charmed Kubeflow by #380. https://github.com/ubuntu/microk8s/pull/2480 will bring the fix into `microk8s enable kubeflow`.

Closing this issue since it should now be fixed, feel free to reopen if you still have any issues with it

[2021-07-28 01:59] #381 closed

[2021-08-02 02:37] jnikles1 opened #386 ""Service Istiod Not Found" When Creating Notebook"
Hello,

I'm experiencing the following error after installing the kubeflow bundle cs:kubeflow as described here https://charmed-kubeflow.io/docs/install. This errer can be observed in the statefulset as well as the jupyter-controller

When I look at the sidecar injector mutatingwebhookconfiguration I can see that the service "istiod" is referenced:
[code]

I've made no changes to the bundle, and d

[2021-08-03 17:30] knkski commented on #386
@jnikles1 Are you able to paste the output from `juju status` (or `microk8s juju status` )? I'm not sure how the webhook got into the state of referencing `istiod`, as it should be based off of the name of the `istio-pilot` charm, as seen here:

https://github.com/canonical/bundle-istio/blob/master/charms/istio-pilot/src/charm.py#L329-L335

Additionally, if you could run `microk8s inspect` and upl

[2021-08-03 18:04] jnikles1 commented on #386
![image](https://user-images.githubusercontent.com/61483166/128063918-724b59cd-7896-4184-8b3f-e98b174db25d.png)
![image](https://user-images.githubusercontent.com/61483166/128063945-aa47d982-1ec6-41cc-be6f-0885cb788332.png)

I added the jupyter-web module only after opening this issue to see if it would help anything, but i've since removed it. I'm not on microk8s. I am using a Gardener cluster de

[2021-08-03 18:13] jnikles1 commented on #386
@knkski thank you for the reply btw!

[2021-08-04 13:29] #386 closed

[2021-08-04 22:02] knkski commented on #386
Glad to hear you figured it out, thanks for the update!

[2021-08-05 15:36] genet022 opened #387 "Add registration for `abort_on_fail` pytest mark"
We just need to register the mark in `pytest.ini`.
Using `addopts = --strict-markers` with unregistered pytest marks causes errors.

Reference here:
https://docs.pytest.org/en/latest/how-to/mark.html#raising-errors-on-unknown-marks

[2021-08-11 11:16] ubntelton opened #388 "Invalid client_id ("authservice-oidc") after install kubeflow on microk8s cluster-on-premise"
login http://10.64.140.43.nip.io/ has the Invalid client_id ("authservice-oidc") , after install kubeflow on microk8s cluster[on-premise]
Any idea for this kind of auth issue?

![dex_bad_request](https://user-images.githubusercontent.com/61405324/129019480-7ef91fec-a22a-4128-a8a7-ed2a358d3316.JPG)

[code]

[2021-08-11 12:08] Pedrohgv opened #389 "Can't access dashboard with k3s installation"
Hi! I'm trying to deploy kubeflow-lite on a local machine with k3s installed. Following [this](https://charmed-kubeflow.io/docs/install) guide and changing **http://10.64.140.43.nip.io** to **http://127.0.0.1.nip.io** (not sure if this is correct, but figured 10.64.140.43 is for the microk8s use case).

`watch -c juju status --color` output is this:
![Screenshot from 2021-08-11 08-56-03](https://u

[2021-08-12 23:34] Pedrohgv commented on #388
Having the same issue. Funny it worked on the first try, and after restart stoped working. Tried reinstalling both kubeflow deployment and microk8s but the error persisted.

[2021-08-13 09:27] Pedrohgv commented on #375
Having the same issue. Any solution for this yet?

[2021-08-18 15:20] genet022 commented on #387
Hit this 6 times in a row last night on our aws SKU. 20 times overall so far. Here's a link to all the runs:
https://solutions.qa.canonical.com/bugs/bugs/bug/1939037

[2021-08-19 11:02] knkski commented on #387
@genet022 Sorry about this. Are you able to run `tox -e tests` instead of the existing `pytest` command? That will avoid this issue

[2021-08-19 15:32] genet022 commented on #387
Ooh yeah we'll give that a shot on the next kubeflow deploy in the lab and then close this if it fixes. Thanks!

[2021-08-30 04:12] LeoVS09 commented on #389
I have a similar issue with ingress and dashboard on minikube.
I can understand possible problems with ingress can be caused by minikube, but why dashboard show `build version dev_local`? It seems like problem with container image

[2021-09-07 02:35] bohau opened #390 "kubeflow 1.3 new notebook server get gpu value as string"
I click button to create a notebook server with GPU asociated, but i got the error as below.

**Error**
[422] Notebook.kubeflow.org "test-jupyter" is invalid: spec.template.spec.containers.resources.limits.nvidia.com/gpu: Invalid value: "integer": spec.template.spec.containers.resources.limits.nvidia.com/gpu in body must be of type string: "integer" http://xxxxx/jupyter/api/namespaces/admin/notebo

[2021-09-07 17:51] phvalguima opened #391 "Centraldashboard searches for ~/.kube/config or sets namespace=kubeflow if not found"
Hi,

Namespace of the deployment is different from "kubeflow".

I was running latest ```cs:kubeflow``` and found out that my kubeflow-dashboard unit was breaking with same issue as #344.
The centraldashboard-config configmap was available already, rendered by the charm; however the dashboard was still not able to load that configuration. I've tried re-applying the configmap, as described on the bu

[2021-09-07 20:49] phvalguima opened #392 "[docs] Clarify step 6.: Set URL in authentication methods"
Hi,

Following the documentation on charmed-kubeflow, I get up until step 6. from: https://charmed-kubeflow.io/docs/install

``` A final step to enable your Kubeflow dashboard access is to provide your dashboard public URL ```

If I set the URL from kubeflow-dashboard, I will get the following error:

[code]

These services are waiting for a json format and are receiving an html instead.

The corr

[2021-09-07 22:41] phvalguima opened #393 "[KFP] Dashboard for pipelines fails if running in multiuser"
Hi,

Deployed Kubeflow with MAAS
Kubernetes bundle:  https://pastebin.canonical.com/p/NkKqJ5pNrb/
Kubeflow bundle: latest stable (juju deploy cs:kubeflow)

Using NodePort to connect to istio-ingressgateway.

When connecting to "kubeflow dashboard > Experiments (KFP)",  I get the following error:

[code]

Error comes from [this line](https://github.com/kubeflow/pipelines/blob/00a0ffbdb72bc4984984cf

[2021-09-08 07:31] DomFleischmann commented on #393
We don't support multiuser in our current release. We do plan to include it with the 1.4 release which should come out in the next month.

I will for now close this issue as we aren't currently aiming for this to work in the current release. If this still happens with our 1.4 release feel free to reopen.

[2021-09-08 07:31] #393 closed

[2021-09-08 07:32] DomFleischmann commented on #392
I agree that this seems a bit confusing. @evilnick what are your thoughts?

[2021-09-08 07:34] DomFleischmann commented on #391
Thanks for pointing this out, we should investigate some more, on what K8s are you running this?

[2021-09-08 07:59] phvalguima commented on #391
@DomFleischmann here is the details of my deployment: Charmed Kubernetes

Deployed Kubeflow with MAAS
Kubernetes bundle: https://pastebin.canonical.com/p/NkKqJ5pNrb/
Kubeflow bundle: latest stable (juju deploy cs:kubeflow)

[2021-09-12 17:50] phvalguima commented on #393
Hi @DomFleischmann, I am not sure if I did something wrong, but it seems I have no option other than multiuser with current Kubeflow. The way I've deployed this cluster was:

Deployed Kubeflow with MAAS
Kubernetes bundle: https://pastebin.canonical.com/p/NkKqJ5pNrb/
Kubeflow bundle: latest stable (juju deploy cs:kubeflow)

And that rendered the above error.

[2021-09-12 18:08] phvalguima opened #394 "[KFP] Several issues with RBAC and pipelines"
I am deploying Kubeflow on top of Charmed Kubernetes with "RBAC,Node" options for RBAC.

However, I am having several issues with Kubeflow Pipelines and RBAC.
In this case, I am deploying Kubeflow with "admin" as its user namespace.

1) Although described on issue #393, Kubeflow seems to come with multiuser enabled or at least needed:
First error I see is this: https://pastebin.ubuntu.com/p/Rx9S6v

[2021-09-12 20:39] phvalguima opened #395 "[KFP] Experiment Run UI does not finish to load"
Hi,

Juju provider: MAAS
Bundle: https://pastebin.canonical.com/p/njzcFzNNcv/
Running latest kubeflow from: ```juju deploy cs:kubeflow```

After creating a Run for a given Experiment + Pipeline, the UI takes me to a screen ("Run") which stays loading.

Looking into Chrome DevTools, I can see it repeats the same POST commands.
[code]

Kubeflow's Kustomize script includes a virtual service for ml_me

[2021-09-12 20:43] phvalguima commented on #394
If I disable RBAC, I can get a pipeline deployed with:

[code]

However, the Experiment Run UI still blocks with #395.

[2021-09-13 15:51] ca-scribner commented on #393
Yeah I think @phvalguima's issue here really is that he'd like pipelines, and the only way he can get there is by enabling multiuser atm.

[2021-09-13 19:24] knkski commented on #395
The issue here is that `kubeflow-dashboard` is calling the backend in different way than `kfp-ui` itself does.

Works great talking directly to `kfp-ui` via exposed NodePort:

    http://<KUBEFLOW>:30117/#/experiments

Fails with above error when using `kubeflow-dashboard`:

    http://<KUBEFLOW>:80/_/pipeline/?ns=admin#/experiments

Offhand, I'd guess that the issue for `kubeflow-dashboard` is th

[2021-09-13 19:25] ca-scribner commented on #392
Summarizing some comments from chat:

@ca-scribner: It feels like to follow our current instructions you need to know a lot about kubeflow/how we deploy it (for example, knowing either which deployment provides the central dashboard UI, or that we wire that up to the istio-ingressgateway).  I like updating to something like: `Where <URL> is the hostname that the Kubeflow dashboard responds to.  Fo

[2021-09-16 14:53] G-Lauz commented on #375
Hi!
I have the same issue but with a different error:

### What steps did you take and what happened:
I installed Kubeflow on Microk8s with Charmed Kubeflow using the followings commands:
[code]
I can access the dashboard with the same address define in the last commands e.g. http://10.64.140.44.nip.io

Once logged in the dashboard, I'm unable to create an experiment and, consequently a run, from

[2021-09-16 15:51] phvalguima commented on #375
@G-Lauz @RosaCandela I've eventually exposed the kfp-ui service directly, via NodePort:

[code]

Then, you can connect to the kfp-ui-nodeport directly: <ip-of-your-host>:<nodeport>. That works for me.

[2021-09-16 20:36] G-Lauz commented on #375
Thanks you for your answer @phvalguima.

Your solution work well for me too. But I'm concern about the security issue that can lead to.

By pushing a bit your idea I found out that the error come up only when we aren't using a namespace (e.g. : admin (owner)) and using the default namespace instead. If I manage to not login through the Dex authentication page I can access the dashboard in that def

[2021-09-22 04:15] besn0847 opened #396 "Kubeflow installation cannot complete on Ubuntu 18 and 20"
Hi,

After 2 days of trying to install Kubeflow on Microk8s, i finally come to the community.
I trying on possible combination of Ubuntu 18.04 & 20.04 + Microk8s 1.18, 1.19, 1.20, 1.21.

On my my last attempt i had Ubuntu 18.04.5 and installed Microk8s 1.19.

Then i do the standards described here : https://www.kubeflow.org/docs/distributions/microk8s/kubeflow-on-microk8s/
	- microk8s enable dns d

[2021-09-22 04:21] besn0847 commented on #396
[inspection-report-20210922_041649.tar.gz](https://github.com/canonical/bundle-kubeflow/files/7207696/inspection-report-20210922_041649.tar.gz)

[2021-09-22 07:21] DomFleischmann commented on #396
Hello @besn0847, it is very possible that you enabling istio before kubeflow is causing problems. You don't have to enable anything before executing `microk8s enable kubeflow`. Especially istio isn't necessary as kubeflow comes with its own istio.

I would recommend you to do the following:
Remove microk8s completely:
`sudo snap remove microk8s --purge`

Reinstall microk8s 1.21:
`sudo snap install

[2021-09-22 14:34] besn0847 commented on #396
Thank you. It finally worked by switching to a more powerful server. Was probably timeouting.

[2021-09-22 14:34] #396 closed

[2021-09-27 10:00] aym-frikha opened #397 "Not able to access the kubeflow dashboard (Forbidden)"
Following the tutorial here: https://charmed-kubeflow.io/docs/install and here: https://www.kubeflow.org/docs/distributions/microk8s/kubeflow-on-microk8s/ I was not able to access the kubeflow dashboard using the loadbalancer ip:

![Screenshot from 2021-09-27 10-59-12](https://user-images.githubusercontent.com/1623989/134887895-29efe242-7f76-4611-a77b-5897ce0f1c41.png)

[2021-09-28 03:40] zeroXscorpion7 commented on #397
Could you post the picture of cmd.

[2021-09-29 08:24] maheshprabhu commented on #389
Facing similar issue, @Pedrohgv were you able to resolve this issue?

[2021-09-29 10:24] Pedrohgv commented on #389
@maheshprabhu I gave up on the bundle and moved back to just the pipeline standalone feature, which was working perfectly.

[2021-09-29 11:55] maheshprabhu commented on #389
Sorry @Pedrohgv I could not get you, Can you explain in detail pls?
I am not able to access even the Notebook server.
We are facing this https://github.com/kubeflow/kubeflow/issues/6141

[2021-09-29 13:21] Pedrohgv commented on #389
Sorry for the lousy explanation @maheshprabhu. Kubeflow-pipelines is the main feature of the kubeflow bundle, and you can install it as a standalone framework. I gave on the kubeflow bundle (pipelines + other features) as I needed only the pipeline feature. Here's the main page for kubeflow-pipelines: https://www.kubeflow.org/docs/components/pipelines/pipelines-quickstart/

[2021-09-30 05:43] maheshprabhu commented on #389
Thank you @Pedrohgv Meanwhile pls post here if you are able to resolve this dashboard issue. Hopefully all issues will get resolved in v1.4

[2021-09-30 09:04] DomFleischmann commented on #389
The current way istio-ingressgateway is setup it will use the underlying ingress that has been already installed previously. In the case of microk8s this is done by enabling the ingress addon with `microk8s enable ingress`. With k3s or minikube you will have to set up ingress beforehand somehow. This is the [manifest](https://github.com/ubuntu/microk8s/blob/master/microk8s-resources/actions/ingres

[2021-09-30 10:01] maheshprabhu commented on #389
@DomFleischmann Thanks for your inputs. We in-fact used k8s , followed this guide , enabled ingress https://www.kubeflow.org/docs/distributions/microk8s/kubeflow-on-microk8s/
But ran into this issue https://github.com/kubeflow/kubeflow/issues/6141
Any help is appreciated.

[2021-09-30 10:33] DomFleischmann commented on #389
@maheshprabhu Did you access it through the ingressgateway IP and `nip.io`?

[2021-09-30 13:57] rwchan13 opened #398 "Unable to access seldon-webhook-service"
Getting the following error message when following the example in the Seldon Core Serving page [https://www.kubeflow.org/docs/external-add-ons/serving/seldon/](https://www.kubeflow.org/docs/external-add-ons/serving/seldon/)

`Error from server (InternalError): error when creating "seldon-test.yml": Internal error occurred: failed calling webhook "v1.vseldondeployment.kb.io": Post "https://seldon-w

[2021-10-01 18:38] edhenry commented on #388
Was able to resolve this, myself, by deleting the `oidc-gatekeeper` pod and letting the respective operator re-deploy it.

[code]

As mentioned above the pod should be redeployed by the `oidc-gatekeeper-operator` pod that is deployed.

Hopefully this will be helpful for others hitting this issue!

[2021-10-04 20:24] ca-scribner commented on #391
fyi as a workaround, copying the configmap that juju creates (in the model's namespace) into the `kubeflow` namespace gets things running

[2021-10-05 13:53] studentz opened #399 "seldon-controller-manage Back-off restarting failed container"
Deploying `cs:kubeflow-edge`

**Description of the issue**:
The deploy stop leaving operators and other resources in a waiting state.
Error:
pod seldon-controller-manager-\*\*\*-\*\*\*       Back-off restarting failed container

**Deployment**:
MAAS->juju->k8s->kubeflow
GPU server and dynamic storage provision

**Additional Info**:
1. From Kubeflow side:

- Successfully assigned kuberflow/seldon-c

[2021-10-06 05:30] maheshprabhu commented on #389
@DomFleischmann - yes Same issue with ingress IP and xx.nip.io as well. Getting blank page

[2021-10-06 14:35] chshr commented on #399
I also have a similar issue

[2021-10-11 13:38] #268 closed

[2021-10-14 12:54] yurkoff-mv commented on #381
The problem is still present in microk8s v1.21.5:
[code]

[2021-10-15 01:20] maxtaq commented on #381
This code may fix it.
[code]

[2021-10-15 06:03] yurkoff-mv commented on #381
Thank you it is working for me!

[2021-10-26 13:50] pdavis39 opened #402 "HTTP ERROR 403 Kubeflow dashboard juju ks3"
We have an environment that works and other Kubernetes pods running without issues.

This environment is K3S, Ubuntu 18.04 versus microk8s.

When we use chrome, safari, or firefox we get the same error  HTTP ERROR 403.  Dex does not appear to be able to route us to the login screen

The curl error message gives us the most useful info

HTTP/1.1 403 Forbidden
< date: Tue, 26 Oct 2021 13:20:08 GMT
<

[2021-10-29 10:56] banderlog opened #403 "Can't access dashboard -- Access denied"
I've installed kubeflow using [official documentation](https://www.kubeflow.org/docs/distributions/microk8s/kubeflow-on-microk8s/)

I had problems with long start, described in https://github.com/kubeflow/kubeflow/issues/6208

After which I had "Invalid client_id ("authservice-oidc") after install kubeflow on microk8s cluster-on-premise" as described here https://github.com/canonical/bundle-kubefl

[2021-10-31 02:54] DnPlas commented on #388
Hi @ubntelton thanks for reporting this. After trying a couple of times, I was not able to reproduce the issue. I could see a similar behaviour under very specific conditions, but I had to manually make it fail.

Just for reference, you'll get `Invalid client_id ("authservice-oidc")` when there is a mismatch between `staticClients` and `clientID` (CLIENT_ID) in `dex-auth`'s and `oidc-gatekeeper`'s

[2021-10-31 11:31] banderlog commented on #388
Well, I just repeated all steps that I did before (using [official documentation](https://www.kubeflow.org/docs/distributions/microk8s/kubeflow-on-microk8s/)):

[code]

Really, nothing changed in my setup or installation steps, but this time I was able to login with credentials from the output.

**Setup:**
microk8s v1.21.5
Ubuntu 20.04.3 LTS

[2021-10-31 11:44] banderlog commented on #403
Old advice from the IT crowd TV show helped -- 'try to turn it off and on again'

[2021-10-31 11:44] #403 closed

[2021-10-31 16:54] DnPlas commented on #402
Hi @pdavis39, thanks for reporting this. It seems to me this issue is similar to #403, but as per @banderlog's [comment](https://github.com/canonical/bundle-kubeflow/issues/388#issuecomment-955682733) it does not happen anymore. If you still have the issue, do you mind sharing details like `kubectl logs pod/dex-auth-<suffix> -n kubeflow`, `kubectl get configmap/dex-auth-config-config -n kubeflow -

[2021-10-31 16:56] DnPlas commented on #397
Hi @aym-frikha , thanks for reporting this. It seems to me this issue is similar to #403 and #402, but as per @banderlog's [comment](https://github.com/canonical/bundle-kubeflow/issues/388#issuecomment-955682733) it does not happen anymore. If you still have the issue, do you mind sharing details like `kubectl logs pod/dex-auth-<suffix> -n kubeflow`, `kubectl get configmap/dex-auth-config-config -

[2021-10-31 17:05] banderlog commented on #397
I am not telling that is not happening anymore, I am telling that it is not happening every time and simple on/off helped me)

[2021-11-01 04:13] amitk75 commented on #390
@bohau Were you able to resolve this? I am also facing same issue.

Thanks in advance,
Amit

[2021-11-01 12:19] pdavis39 commented on #402
I found this issues resolved the problem https://issueexplorer.com/issue/canonical/bundle-kubeflow/383

My guess is the linking between dec-auth and the iidc-gatekeeper was not initially set.

[2021-11-01 12:19] #402 closed

[2021-11-03 15:15] ca-scribner opened #404 "`default-admin`, `default-editor`, `default-viewer` ClusterRoles missing, blocking RBAC for other components (kfp, etc)"
We are missing [this rbac](https://github.com/kubeflow/manifests/blob/master/common/kubeflow-roles/base/cluster-roles.yaml) which defines `ClusterRole`s that are available to each user and provide access to kubeflow applications.  This is done through:

1. any kubeflow application that wants to provide RBAC to users creates "template" `ClusterRole`s with the permissions a user should have in their

[2021-11-03 15:15] ca-scribner opened #405 "`default-admin`, `default-editor`, `default-viewer` ClusterRoles missing, blocking RBAC for other components (kfp, etc)"
We are missing [this rbac](https://github.com/kubeflow/manifests/blob/master/common/kubeflow-roles/base/cluster-roles.yaml) which defines `ClusterRole`s that are available to each user and provide access to kubeflow applications.  This is done through:

1. any kubeflow application that wants to provide RBAC to users creates "template" `ClusterRole`s with the permissions a user should have in their

[2021-11-03 15:16] ca-scribner commented on #395
Correction, I think this is broken because of #404 not due to the metadata deployment

[2021-11-07 09:28] leeadh opened #406 "Not able to access kubeflow"
I cant seem to be able to access mkubeflow through microk8. I followed this guide here https://iamageek.medium.com/install-kubeflow-in-10-steps-on-macos-96d7dda9612 and  here https://ubuntu.com/tutorials/deploy-kubeflow-ubuntu-windows-mac#5-access-the-kubeflow-dashboard and even on your docs: https://v0-6.kubeflow.org/docs/started/workstation/getting-started-macos/

I am using sudo snap install mi

[2021-11-08 08:09] DomFleischmann commented on #406
Can you try with a later microk8s like `1.21/stable`? Also, we have moved from `xip.io` to `nip.io` as xip has been abandoned upstream.

[2021-11-08 08:12] leeadh commented on #406
Sorry i wrote it wrong. Im accessing nip.io. I will try with 1.21/stable. It would be good to update your documentation so people who are trying out don't waste time. I tried with 1.22 then wasn't supported. Then tried 1.18 didn't work. so now trying 1.21.

[2021-11-08 08:15] leeadh commented on #406
ok now it worked with 1.21. BUT another issue

When i tried accessing workbooks, I get a {
  "log": "The requested URL was not found on the server. If you entered the URL manually please check your spelling and try again.",
  "status": 404,
  "success": false,
  "user": "admin"
![image](https://user-images.githubusercontent.com/15122358/140706780-7d656ba7-c258-48be-a90e-b8aa4c8d8740.png)

}

[2021-11-08 08:21] leeadh commented on #406
i also tried to run a pipeline but it shows This step is in Error state with this message: task 'file-passing-pipelines-ff5tb.repeat-line' errored: Internal error occurred: failed calling webhook "admission-webhook.kubeflow.org": Post "https://admission-webhook.kubeflow.svc:443/apply-poddefault?timeout=30s": x509: certificate signed by unknown authority.

Seems like this is very buggy.

![image](h

[2021-11-10 22:36] pshegde opened #407 "Error while installing Kubeflow dashboard"
Hi,

While trying to install kubeflow using charmed operators on a custom k8s cluster the kubeflow-dashboard install fails with this error - hook "ingress-relation-changed". Is there any workaround available to fix this?

juju debug-log gives me this -

application-kubeflow-dashboard: 14:26:06 ERROR unit.kubeflow-dashboard/2.juju-log ingress:7: Uncaught exception while in charm code:
Traceback (mo

[2021-11-11 12:23] #406 closed

[2021-11-11 12:25] DomFleischmann commented on #407
Hello @pshegde what kind of bundle did you use to deploy kubeflow?

[2021-11-11 12:25] #240 closed

[2021-11-11 12:28] DomFleischmann commented on #188
For now,  our priority is supporting LDAP and OIDC through Dex. Please go through the internal canonical channels if you want this feature in the future.

[2021-11-11 12:28] #188 closed

[2021-11-11 12:28] #169 closed

[2021-11-11 12:30] DomFleischmann commented on #176
@DnPlas is this something that is supported now with the new training-operator?

[2021-11-11 12:30] #289 closed

[2021-11-11 12:35] #273 closed

[2021-11-11 12:36] #277 closed

[2021-11-11 12:36] #282 closed

[2021-11-11 12:36] #317 closed

[2021-11-11 12:37] #321 closed

[2021-11-11 12:37] #322 closed

[2021-11-11 12:37] #316 closed

[2021-11-11 12:38] #334 closed

[2021-11-11 12:39] DomFleischmann commented on #334
We now have instructions on how to use Kale [here](https://charmed-kubeflow.io/docs/kubeflow-basics)

[2021-11-11 12:40] #336 closed

[2021-11-11 12:40] #341 closed

[2021-11-11 12:41] #398 closed

[2021-11-11 12:42] DomFleischmann commented on #344
This should be fixed now

[2021-11-11 12:42] #344 closed

[2021-11-11 12:42] DomFleischmann commented on #348
This should be fixed now

[2021-11-11 12:42] #348 closed

[2021-11-11 12:42] #355 closed

[2021-11-11 12:43] #360 closed

[2021-11-11 13:31] DomFleischmann commented on #363
This will be released with 1.4

[2021-11-11 13:31] #363 closed

[2021-11-11 13:33] #376 closed

[2021-11-11 13:34] #389 closed

[2021-11-11 13:34] #387 closed

[2021-11-11 14:38] DnPlas commented on #176
Unfortunately no, this component is still in Alpha status, and thus has not been added as part of the jobs the training-operator manages.
"Alpha means that the application is in the early phases of development and/or integration into Kubeflow." (See [Support](https://www.kubeflow.org/docs/started/support/#application-status))

[2021-11-12 13:59] ca-scribner commented on #406
Sorry there's some things mixed up with the current pipeline setup.  This should be resolved in ~2 weeks or so when we release a new bundle that supports Kubeflow 1.4

[2021-11-15 14:25] yingding commented on #388
Thanks @edhenry

On my Ubuntu 20.04 with MicroK8s 1.21.6, i just delete the pod
[code]
and the pod is redeployed automatically. I can then login fine.

[2021-11-17 16:54] gcheron commented on #390
I am also facing same issue! Were you able to resolve this?

[2021-11-17 19:25] gcheron opened #408 "nvidia.com/gpu: Invalid value, who is responsible for publishing kubeflow-dashboard bundle?"
I have the following issue:

`[422] Notebook.kubeflow.org "test2" is invalid: spec.template.spec.containers.resources.limits.nvidia.com/gpu: Invalid value: "integer": spec.template.spec.containers.resources.limits.nvidia.com/gpu in body must be of type string: "integer" http://192.168.1.30/jupyter/api/namespaces/admin/notebooks`

That has already been mentioned in https://github.com/canonical/bund

[2021-11-18 08:33] DomFleischmann commented on #408
Hello @gcheron the kubeflow team is responsible for this bundle, currently we are working on releasing 1.4 which will also include this fix. But for any kind of PRs feel free to open them in the repository related to the charm in this case this [one](https://github.com/canonical/notebook-operators)

[2021-11-18 16:59] gcheron commented on #408
First, I would like to thank the team for this work.

When checking `metadata.yaml` file I think you are pointing to the wrong repo and I guess you wanted to mention this one [canonical/kubeflow-dashboard-operator](https://github.com/canonical/kubeflow-dashboard-operator/blob/main/metadata.yaml).

The bug in this repo has been fixed 2 months ago (the metadata now points to the correct `central-das

[2021-11-19 08:58] DomFleischmann commented on #408
Hey gcheron yes you are right I might have given the wrong link.

We are currently preparing a release of 1.4 and should have something released on edge for end of November

Yes you can, there might be some disparities as there are different versions but it should work for the most part.

You would have to build the charm with `charmcraft`:
[code]

Afterwards you should be able to upgrade the char

[2021-11-24 16:07] gcheron commented on #408
@DomFleischmann thanks for your reply. I have finally installed kubeflow directly from the [manifests](https://github.com/kubeflow/manifests).

[2021-11-26 06:41] pshegde opened #410 "Received 403 while trying to access dashboard via istio-ingressgateway ip"
I tried to access the dashboard at http://172.19.154.130 but see the error 403. 30813 is my http2 port which I used in the juju config url as specified in the docs. Is there some issue in my configuration?

 juju config oidc-gatekeeper public-url=http://172.19.154.130:30813
 juju config dex-auth public-url=http://172.19.154.130:30813
 juju config dex-auth static-password=
 juju config dex-auth sta

[2021-11-26 14:31] Barteus commented on #397
Hi @DnPlas, I have a similar issue.
I was following the instruction in: https://charmed-kubeflow.io/docs/install
The environment setup is Azure VMs (3 x Standard_D2s_v3), microk8s clustered with enabled dns storage metallb ingress.
The full Kubeflow bundle was deployed using juju bootstrapped on the microk8s.

logs pod/dex-auth-856b5c7458-grf4d:
[code]
Log
[code]

*Update:* the workaround was to r

[2021-11-29 05:37] #410 closed

[2021-12-01 00:22] pshegde opened #411 "Internal error: Unauthenticated: Request header error: there is no user identity header"
Hi,

I'm using kubeflow with multi user enabled. The code is passing cookies to the request. I'm able to list pipelines but create experiments fails with the error "Unauthenticated: Request header error: there is no user identity header".
Does kubeflow 1.3 not support multi user mode? In single user mode I see "In single-user mode, ListExperiment cannot filter by namespace.".

import requests
impo

[2021-12-01 00:26] pshegde commented on #407
The bundle used is juju cs:kubeflow 1.3. Retried using kubernetes version 1.20 and I dont see this error anymore.

[2021-12-01 00:26] #407 closed

[2021-12-01 03:23] pshegde commented on #411
Seeing a different error in single user mode,

host="http://ml-pipeline.kubeflow.svc.cluster.local:8888"
client = kfp.Client(host=host, namespace="kubeflow")
print(client.get_kfp_healthz())
print(client.list_pipelines())
print(requests.get(f"{host}/apis/v1beta1/experiments").content)
print(client.list_experiments())  # error
print(client.create_experiment('exp3'))  #error

fp_server_api.exceptions

[2021-12-01 11:09] DomFleischmann commented on #411
Multiuser is not supported in our current stable version.

We are planning on releasing a beta bundle this week which will support mulituser.

[2021-12-01 21:48] pshegde opened #412 "In single-user mode, ListExperiment cannot filter by namespace."
Hi,

I see this error in single user mode,

host="http://ml-pipeline.kubeflow.svc.cluster.local:8888"
client = kfp.Client(host=host)
print(client.get_kfp_healthz())

print(requests.get(f"{host}/apis/v1beta1/experiments").content) #works
print(client.list_experiments()) #error
print(client.create_experiment('exp3')) #error

fp_server_api.exceptions.ApiException: (400)
Reason: Bad Request
HTTP respo

[2021-12-02 10:03] joselmh commented on #412
After following the installation procedure [here](https://charmed-kubeflow.io/docs/install), I'm having exactly the same issue when just clicking on Experiments(KFP).

![Selection_366](https://user-images.githubusercontent.com/42437499/144400123-154a82e2-46fe-4f2a-bca4-39b588e6a97d.png)

Also, when trying to create an experiment after uploading a pipeline I also have a single-use related error.

!

[2021-12-02 12:10] joselmh opened #413 "Multi-user enabled installation"
I'm following this [documentation](https://charmed-kubeflow.io/docs/install) to install Kubeflow on an AKS cluster.
But after the procedure, it seems that it's a single-user mode installation.
Is there a way of enabling multi-user or some other procedure to follow to install with multi-user mode?

[2021-12-03 01:28] pshegde commented on #413
Pease check https://github.com/canonical/bundle-kubeflow/issues/411#issuecomment-983533728

[2021-12-06 17:17] grobbie commented on #388
This trick worked for me as well, although I had to wait for a while for juju to bring everything back into order:
`watch -c juju --color`

[2021-12-07 06:25] pshegde opened #415 "Failed to launch Katib experiment"
Hi,

I see this issue on Kubeflow 1.3. More details here - https://github.com/kubeflow/katib/issues/1455.
Has anyone seen this error before? Any pointers on how to fix this?

2021-12-03 23:15:24 run:120 [ERROR] [TID=kl824ee10y] [/home/jovyan/kale/examples/dog-breed-classification/dog-breed-katib.ipynb] RPC function 'create_katib_experiment' raised an RPCError
Traceback (most recent call last):
  F

[2021-12-14 12:55] Pisou opened #416 "kubeflow installation"
is it possible to install kubeflow on local machine?

[2021-12-14 13:06] Pisou commented on #416
juju bootstrap myk8s my-controller
ERROR cannot connect to API: no controller API addresses; is bootstrap still in progress?

[2021-12-14 13:19] evilnick commented on #416
it is if you have the resources to run it there. Have you just recently installed MicroK8s? It may be that the cluster hasn't settled.
Are you following this - https://juju.is/docs/olm/get-started-on-kubernetes

[2021-12-16 12:21] Pisou opened #417 "Kubeflow error activation"
#microk8s enable kubeflow --bundle=cs:kubeflow

Enabling dns...
Enabling storage...
Enabling ingress...
Enabling metallb:10.64.140.43-10.64.140.49...
Waiting for other addons to finish initializing...
Addon setup complete. Checking connectivity.

#Couldn't contact api.jujucharms.com from within the Kubernetes cluster
#Please check your network connectivity before enabling Kubeflow.

[2021-12-17 12:03] #416 closed

[2022-01-05 10:54] Theocrat opened #419 "Kubeflow Dashboard cannot render its component functions on microk8s"
I have installed Kubernetes on **Ubuntu 18.04** using the **MicroK8s** package. My intention was to run Kubeflow on my bare-metal on-premise system (a laptop) to familiarize myself with the tool before shilling out credits to use it on the cloud. However, I have run into a difficulty.

First of all, Kubeflow does not work on MicroK8s 1.22 - so I am using the **1.21/stable** channel. On this system

[2022-01-10 07:18] Theocrat commented on #419
## Okay, kinda solved I guess

Look, I am not saying that this problem has been solved. If you are working on MicroK8s and you came here to receive guidance on making Kubeflow run on an older version of MicroK8s, you will be disapppointed. If you are simply looking for _some_ way to make Kubeflow work on Kubernetes on your personal testing server - or laptop, for that matter - then you might just

[2022-01-10 07:19] #419 closed

[2022-01-10 10:27] DomFleischmann commented on #419
Hello @Theocrat, I'm sorry we couldn't adress your issue earlier, sometimes issues aren't adress as quickly as they should specially considering the team coming back from holidays and a weekend being inbetween these 5 days you mention.

Kubeflow not working on 1.22 is an upstream problem that affects all the Kubeflow distributions. We do still support Microk8s but are slowly encouraging our users

[2022-01-10 17:11] Theocrat commented on #419
@DomFleischmann I can understand. I think I have gone a little overboard on the flame. Two cups of black coffee on an empty stomach in the early morning will do that to you. I have had the opportunity to rethink the situation, and I think the vile tempest of accusations in my earlier post was uncalled for.

Of course, this is family time for you guys and I wish you a happy new year. Thank you for

[2022-01-13 13:45] VariableDeclared opened #420 "[AKS] Restarting AKS will trigger a circular dependency on `admission-webhook`"
Hi,

When deploying Charmed Kubeflow on AKS, kubeflow will prevent the cluster from restarting sucessfully, this is due to the `admission-webhook` pod getting stuck in it's `juju-pod-init` container.

Removing the mutatingwebhookconfiguration using kubectl resolves the situation and allows the cluster to heal.

[Steps to reproduce]

[code]

Expected output:

[code]

[Workaround]

[code]

Thanks,
P

[2022-01-13 15:06] VariableDeclared commented on #420
hey @ca-scribner yes, here's the logs from the initContainer:

[code]

[2022-01-17 17:09] Barteus commented on #420
I have tried to apply this workaround twice. Once it worked fine, but the second time the kubeflow-webhook-config.yaml was not applied correctly because the configuration of it changed meanwhile during kubeflow restart.

[2022-01-19 10:15] IoanaEmma commented on #411
@DomFleischmann
Any updates on this? I'm still having this problem in microk8s 1.21/beta (updated on 2022-01-18)

![image](https://user-images.githubusercontent.com/31507685/150110480-576c1e74-6334-476a-a3aa-c371e0af4d04.png)

[2022-01-25 13:25] DomFleischmann commented on #411
Hello @IoanaEmma we have just released our latest which uses Kubeflow 1.4 and should fix this issue.

If you are using micork8s I would recommend you follow these [steps](https://charmed-kubeflow.io/docs/quickstart)  to get started.

[2022-01-25 13:25] #411 closed

[2022-01-25 13:25] #408 closed

[2022-01-25 13:35] #404 closed

[2022-01-25 13:35] #395 closed

[2022-01-25 13:36] DomFleischmann commented on #394
This issue should be fixed with the latest Kubeflow 1.4 release, feel free to reopen this issue if it still occurs.

[2022-01-25 13:36] #394 closed

[2022-01-25 13:39] DomFleischmann commented on #412
This issue should be fixed with the latest Charmed Kubeflow 1.4 release, feel free to reopen this issue if it still occurs.

[2022-01-25 13:39] #412 closed

[2022-01-25 13:56] IoanaEmma commented on #411
@DomFleischmann what version of microk8s uses kubeflow 1.4?

[2022-01-26 10:34] DomFleischmann commented on #411
@IoanaEmma unfortunately with 1.4 the upstream community still does not support anything newer than 1.21. We are also deprecating the microk8s addon, so the best way to get started is with the [Quick Start Guide](https://charmed-kubeflow.io/docs/quickstart) which uses microk8s 1.21.

[2022-01-27 14:50] shamiulshifat opened #422 "How to get username and password fileds on dex login instead of email and password for kubeflow?"
When I deployed kubeflow for first time, it generated a user id and password with a url. When I go to that address, the login page shows email and password fields, not user and password. I am stuck here. How to resolve this?

[2022-01-27 14:58] DomFleischmann commented on #422
This might be poor naming on our side, but the static-username field is equal to the email field, sorry for the confusion.

[2022-01-27 14:58] #422 closed

[2022-01-27 15:23] shamiulshifat commented on #422
thanks. it works.

[2022-01-27 18:24] ca-scribner opened #423 "Notebook cannot implicitly connect to/launch runs in the Pipelines client"
Currently in a notebook, this does not work:
[code]
reporting:
[code]

I think this is because, when switching to multi-user isolation for pipelines, we missed adding [this](https://www.kubeflow.org/docs/components/pipelines/sdk/connect-api/#multi-user-mode) to the `PodDefault`s for each user.

As a temporary workaround, used can from a terminal on cluster create a PodDefault in their namespace:
[

[2022-01-28 08:32] Barteus commented on #423
Workaround with PodDefault works for me, thanks!

[2022-01-28 13:40] ca-scribner commented on #423
kubeflow/pipelines#5138 discusses this problem and some possible fixes.  The fixes are not merged and the discussion seems stale but I'll see if I can revive anything.

[2022-01-28 13:58] ca-scribner commented on #423
We can do kubeflow/pipelines#6629 ourselves (we already run a modified version of the `sync.py` file in our profile-controller charm anyway).  That effectively puts the `PodDefault` above in every user's namespace, meaning that all users will see the configuration button for pipelines on the notebook creation page by default.

Users still need to select that configuration button to get pipeline ac

[2022-01-28 14:17] ca-scribner commented on #423
Nevermind, we can also make the trivial patch to our notebook spawner default config from kubeflow/kubeflow#6160 and the button is checked by default!

[2022-01-31 12:54] DomFleischmann commented on #413
Multi-user is now enabled with our latest release of kubeflow 1.4.

[2022-01-31 12:54] #413 closed

[2022-01-31 12:57] DomFleischmann commented on #415
This should be fixed with our latest Charmed Kubeflow release, please reopen if it still applies.

[2022-01-31 12:57] #415 closed

[2022-01-31 13:36] DomFleischmann commented on #399
This is a known issue when using a kubernetes version later than 1.21. For now we only support up to Kuberentes 1.21 due to pending upstream work to support later versions.

[2022-01-31 13:36] #399 closed

[2022-01-31 13:40] DomFleischmann commented on #397
This should be fixed with the latest release of Charmed Kubeflow. Feel free to reopen if it still happens.

[2022-01-31 13:40] #397 closed

[2022-01-31 13:40] DomFleischmann commented on #388
This should be fixed with the latest release of Charmed Kubeflow. Feel free to reopen if it still happens.

[2022-01-31 13:40] #388 closed

[2022-01-31 13:46] DomFleischmann commented on #338
This should be fixed with the latest release of Charmed Kubeflow. Please repopen if this issue still occurs.

[2022-01-31 13:46] #338 closed

[2022-01-31 14:13] DomFleischmann commented on #391
Let's unify this issue with [this one](https://github.com/canonical/kubeflow-dashboard-operator/issues/22) which makes it a bit more concise. Currently we can't deploy kubeflow-dashboard in namespaces that are not called `kubeflow`

[2022-01-31 14:13] #391 closed

[2022-02-01 23:09] DnPlas commented on #390
Hi @bohau, thanks for reporting this. Our latest release should have the fix for this issue (as discussed in #408), do you mind letting us know if you can reproduce the issue using `kubeflow latest/stable`?

[2022-02-02 01:47] DnPlas commented on #390
Hi @bohau. I tried reproducing the error using our latest release, as mentioned in my last comment, and this is in fact a bug that's not solved by the upgrade. I've labeled this issue as a duplicate of [#26](https://github.com/canonical/notebook-operators/issues/26) as that one is filed in `canonical/notebook-operators`, which is more appropriate. I'll close this issue and continue the discussion

[2022-02-02 01:47] #390 closed

[2022-02-03 16:53] ajdecon opened #424 "Charmed Kubeflow failing to deploy on Kubernetes v1.21.6 deployed with Kubeflow"
I'm running into an error when attempting to install Charmed Kubeflow on a freshly-deployed cluster running Kubernetes v1.21.6 on Ubuntu 20.04.1, deployed using [Kubespray v2.17.1](https://github.com/kubernetes-sigs/kubespray/releases/tag/v2.17.1).

The error I see is:

[code]

Full install log in [this gist](https://gist.github.com/ajdecon/4a8bd0a087bc88ca47ffb75986339e1e)

Any suggestions for re

[2022-02-04 08:33] wodecki commented on #375
Solved by reinstalling kubeflow according to instructions provided here:
https://charmed-kubeflow.io/docs/quickstart?_ga=2.139718198.46250420.1643883037-872003253.1643883037

[2022-02-04 14:12] jameinel opened #425 "Kubeflow charms are still requesting PVC for each charm"
See original bug report here:
https://bugs.launchpad.net/juju/+bug/1959886

Since juju 2.8, charms can set 'min-juju-version: 2.8' for metadata v1 charms, or just be metadata v2 charms. With either of those things set, they can use `state-set` and `state-get` to set key-value pairs in the Juju controller, rather than relying on the local disk to be persistent. (Operator Framework should already be

[2022-02-04 14:39] ca-scribner commented on #425
Thanks @jameinel, this is really helpful.  There's a few things we misunderstood here that are much clearer now.  Almost (maybe all) of our charms have no need for stored state, and definitely not stored state that is outside the controller, so we can address this.

Am I understanding correctly then that if we do either of `min-juju-version: 2.8` or make metadata `v2`, by default juju will not cre

[2022-02-04 14:52] jameinel commented on #425
If you set those things, juju won't create a PVC for the charm. The juju
agent itself already uses the controller for state, but if your charm is
trying to use a charmhelpers.keyvalue store or something like that, those
are built on a local sqlite database, which means that if the charm pod
ever got rescheduled, all of that data is gone.
So *I* can't say what your charm is/isn't writing, but Juju

[2022-02-04 16:44] DnPlas commented on #375
Hi @RosaCandela, this is a known issue present in our previous release that is fixed in our latest. The Kubeflow add-on for Microk8s is an old version and won't get updates in the short or mid-term, we recommend you deploy Kubeflow following the instructions in our [Install guide](https://charmed-kubeflow.io/docs/install) instead of using the add-on.
I'm closing this issue, but feel free to re-ope

[2022-02-04 16:44] #375 closed

[2022-02-04 19:49] DnPlas commented on #417
Hi @Pisou, seems like you are having a transient and/or a config issue with Microk8s. We recommend you deploy Charmed Kubeflow v1.4 following the steps in [this guide](https://charmed-kubeflow.io/docs/install) instead of enabling the add-on. Do you mind trying that?
Closing this issue as Charmed Kubeflow v1.4 is out and should be deployed as previously stated, feel free to re-open this or file a n

[2022-02-04 19:49] #417 closed

[2022-02-04 22:19] DnPlas opened #427 "Units get stuck in error state when unsupported relation is joined and then removed"
None of the CKF charms handle unsupported relations, which can cause units to stay in an `error` state after an unsupported relation is joined and then removed. This behaviour is observed if you accidentally relate two charms that are not supposed to be related, they will go to an `error` state because of the unexpected relation, and then if you try to remove it, it will be deleted, but units will

[2022-02-07 13:45] DomFleischmann commented on #424
Hello @ajdecon thank you for filing this issue.

I'm not entirely sure what the issue is here, but I suspect there might be something missing in your Kubernetes cluster for juju to work correctly. One thing you will need for sure is a storage class that you can pass through during the `add-k8s` command and some working dns, you can gather more information in the [juju docs](https://juju.is/docs/ol

[2022-02-07 16:20] ajdecon commented on #424
@DomFleischmann : Thanks for the reply!

I rebuilt my test cluster from scratch with the same scripts, but paused before trying to install Kubeflow again. At this stage, my current cluster state looks like this: [gist](https://gist.github.com/ajdecon/ab7b74cc1af3055203e59fb3cae46b69). I can confirm that this cluster includes a functioning storage class (NFS provisioner) and DNS.

However, I still

[2022-02-07 16:48] DomFleischmann commented on #424
Yes, there have been some changes in the juju docs, that removed the part I was looking for, I will follow up with them.

In the meanwhile, if this is a minimal cluster install I could recommend you using [microk8s](https://microk8s.io/) it is the environment we use for our testing and where we can be sure it works. There is this [quickstart](https://charmed-kubeflow.io/docs/quickstart) guide that

[2022-02-07 17:04] ajdecon commented on #424
@DomFleischmann : In a new test today, I was able to successfully deploy the `kubeflow-lite` bundle in this environment! 🎉

However, it did require re-running the install command 2-3 times in order to successfully install. (`juju deploy --verbose --trust kubeflow-lite`)

Apologies, I hadn't tried a retry in place before as it wasn't clear from the juju docs that this was a safe operation to retry.

[2022-02-07 17:06] DomFleischmann commented on #424
Glad you got it working @ajdecon !

I'll pass on those user-frindliness issues.

[2022-02-07 17:07] #424 closed

[2022-02-07 19:56] ca-scribner opened #428 "Example notebook images have incompatible kfp sdk"
As filed in kubeflow/kubeflow#6327, the notebook images included by default have `kfp==1.6.3` which is incompatible with our deployed kfp-api.  This leads to errors that look like authentication problems, but are really version mismatches.

[2022-02-07 19:57] ca-scribner commented on #428
cc @DomFleischmann @Barteus

[2022-02-08 13:18] DomFleischmann commented on #428
I think we should consider building our own images to fix this.

[2022-02-08 13:37] DomFleischmann commented on #392
The documentation has been updated and should be more clear now.

[2022-02-08 13:37] #392 closed

[2022-02-08 22:15] phvalguima commented on #425
Hi, I've done some tests and using: ```min-juju-version: '2.9.0'``` indeed resolve this issue.

[2022-02-09 08:58] Barteus opened #429 "mlflow secret used for seldon is not working (seldon-init-container-secret)"
When seldon-init-container-secret is used to deploy the model from minio the credentials passed to the RCLONE in init container are wrong. The Pod is going into the status Init:CrashLoopBackOff

Log from init container:
[code]

Expected log from init container (removed not relevant sections):
[code]

Working secret.yaml:
[code]

Deployment example.yaml:
[code]

For more info about RCLONE auth conf

[2022-02-09 10:11] Barteus commented on #429
The **workaround** is to apply manually a secret with proper values to the namespace the inference will be done in.

[2022-02-11 09:57] DomFleischmann commented on #420
I have been able to reproduce this issue and we will look into a possible fix.

[2022-02-11 15:00] VariableDeclared commented on #425
Next batch:

MLFLow: https://github.com/canonical/mlflow-operator/pull/12
Istio: https://github.com/canonical/istio-operators/pull/57
Minio: https://github.com/canonical/minio-operator/pull/34

[2022-02-11 16:35] ca-scribner opened #430 "feat: add upgrade tests to bundle"
Current bundle has no tests for upgrading (some tests existed previously, but they were for charmstore).  Add CI that tests upgrading from `latest/stable` to `latest/edge`

[2022-02-11 20:24] ca-scribner opened #431 "Re-enable test_notebook tests"
`test/test_selenium.py`/`test_notebook()` was disabled due to kubeflow/kubeflow#6056.  When that issue is resolved, we should re-enable the test

[2022-02-11 20:27] ca-scribner opened #432 "Re-enable mnist_pipeline tests"
#426 disabled the mnist_pipeline test as it was failing.  Should we fix and re-enable that test?  Alternatively, this test might be superseded by other e2e tests we produce so it might not be necessarily to fix this.

[2022-02-11 20:49] ca-scribner opened #433 "Re-enable katib pipeline test"
#426 disabled the `tests/test_pipeline.py`/`test_pipeline()`'s `katib` test as it was failing due to unknown reasons.  We should fix and re-enable it.

[2022-02-14 15:08] paulomach opened #434 "kubeflow-lite bundle references to charm-store"
Hello,

Deployment of kubeflow-lite with bundle failed with the "argo-controller" not being found.
Pretty sure that's related to the cs -> ch migration, since I was able to fix it overlaying  with the argo-controller referencing ch, i.e.:

`  argo-controller:               { charm: ch:argo-controller,         channel: latest/stable, scale: 1 }`

I'm using juju version `2.9.22-ubuntu-amd64`

There'

[2022-02-15 00:43] DnPlas commented on #434
Hi @paulomach, thanks for the report. This looks like a transient issue, but just to be sure, do you mind sharing the logs or error msg you are getting when deploying the bundle as well as the steps to reproduce? Logs from `juju status` or `juju debug-log` are helpful.
I tried reproducing the issue running `juju deploy kubeflow-lite` without success.

[2022-02-15 06:19] Theocrat commented on #419
@DomFleischmann Hey Dom, I have been trying out my use case on the Charmed Kubeflow solution from Juju, but it appears that the charmed Kubeflow solution is not updated. The tutorials, including the one you have shared with me, appear to be similarly behind the times.

 For one thing, Kubeflow as it stands today (in February 2022) can only be properly accessed via the ISTIO Ingress Gateway. Attemp

[2022-02-15 08:38] DomFleischmann commented on #434
There was an issue with argo-controller during the migration from Charmstore to Charmhub, this was fixed by the Charmhub team yesterday. Therefore it should not be an issue anymore.

Please reopen if it occurs again.

[2022-02-15 08:38] #434 closed

[2022-02-15 08:54] DomFleischmann commented on #419
Hello @Theocrat, regarding the command that moves `istio-ingressgateway` away from waiting state it is clearly stated in Step 6 of the [link](https://charmed-kubeflow.io/docs/install) I provided to you.

Regarding the external-ip which seems to be remaining as `<pending>` this is probably due to your Kubernetes cluster not having a Loadbalancing service. You can either deploy something like `metal

[2022-02-15 09:33] Barteus opened #436 "Expose MLFlow UI using istio-pilot redirects user to Kubeflow UI."
The users need to access the MLFlow UI and be able to search the experiments/view results.

Exposing MLFlow console using the relation with istio-pilot does not work.

User is prompted for DEX auth and then redirected to the Kubeflow UI with `/mlflow` suffix

**Workaround**
Use: `kubectl port-forward mlflow 5000` and go to http://localhost:5000

[2022-02-15 11:20] Theocrat commented on #419
Right, thanks again.

[2022-02-15 22:09] ca-scribner commented on #436
@Barteus can you give the linked fix a try?  I think it'll get things working for you.

...always fun to devote so much of your day to a single character change :D

[2022-02-28 09:56] markqiu opened #438 "juju deploy kubeflow-lite ImagePullBackOff"
In ubuntu 20.04 install kubeflow by juju behind a proxy with the following commands:

[code]
Getting the following errors:
[code]
[code]
[inspection-report-20220301_143904.tar.gz](https://github.com/canonical/bundle-kubeflow/files/8159327/inspection-report-20220301_143904.tar.gz)

[2022-02-28 14:51] Barteus commented on #429
To replicate the issue:
1. Run notebook: https://github.com/Barteus/kubeflow-examples/blob/main/seldon-mlflow-minio/mlflow-demo.ipynb and take Minio path from last cell output.
2. Apply the SeldonDeployment from this issue (but change the modelUri)
This should fail on downloading the model from minio.

To fix it, apply the working secret above and your deployment should work.

[2022-02-28 21:40] ca-scribner commented on #429
@Barteus looking at this now.  I see the issue raised but am not sure what your desired behaviour is from a fix.  If someone has `juju deploy`'d mlflow and seldon, would you want:
1. they not need to specify an `envSecretRefName` at all and it "just works"
2. that there be a secret like `seldon-init-container-secret` that exists in each person's namespace that they can point to with `envSecretRefN

[2022-03-01 03:43] jardon commented on #429
I did try to replicate this today but was unsuccessful.  Having a Juju bundle could help in general with reducing the amount of time needed to replicate and confirm so that more time can be spent actually fixing the issue.

Here are the steps that I took:

1. Installed microk8s v1.21
3. Deploy kubeflow-lite via juju
4. Added all of the mlflow bits and related them appropriately
5. Imported and exe

[2022-03-01 18:57] ca-scribner commented on #429
Summary of my understanding before I make any fixes

# Current state

Any `SeldonDeployment` that uses a model stored in s3 must be provided with s3 credentials (endpoint, access/secret key, etc as shown above) via a `Secret` (pointed to in `SeldonDeployment.specs.predictors.componentSpecs.graph.envSecretRefName=secretName`).  This secret is formatted (shown in above comments) with the `RCLONE` pr

[2022-03-02 15:49] Barteus opened #439 "Examples are not working because of missing resources"
When examples are run, the workflow fails on the download default data set.

For **mnist** missing train/test label/images

Log from Pod on pipeline execution:
[code]

[2022-03-02 19:29] ca-scribner commented on #429
The **Near Term** solution is up for review in canonical/mlflow-operator#27, and a gist of how I tested with it (following @Barteus's notebook pretty closely) is [here](https://gist.github.com/ca-scribner/30216b73ab14effb9cb08b8a81bfe5ec).  Note that when I tried to use that gist today though, there was a package conflict between mlflow/whatever else is needed in the deployment.  To get it to work

[2022-03-04 18:39] ca-scribner commented on #429
Re the `itsdangerous` bug, you can use a more recent image for your classifier with this patched.  For example, you can do:
[code]
This overrides the default mlflowserver version

[2022-03-07 06:22] s3171103 commented on #439
I meet this problem too

[2022-03-07 09:44] s3171103 commented on #439
there is my alternative method
[code]

[2022-03-08 11:11] DomFleischmann opened #440 "Charmed Kubeflow 1.5"
With the upstream release of Kubeflow 1.5 happening in the next week we are opening this issue to track progress on Charmed Kubeflow 1.5.

Unfortunately we won't be able to align our release date with upstream but will make an effort to keep track of any progress on it in this issue.

[2022-03-09 11:55] Barteus opened #441 "Updating the MinIO credentials is not forcing the pods which use them to restart."
The minio credentials are in the secrets and the change using juju config is changing it there. Noting happens after it. No Pods, which are related to the Minio, are notified of the change = no Pods are recreated. The Pods are taking the minio credentials at the start. When the change of config does not force Pods to recreate - applications do not know about configuration changes.

This means that

[2022-03-14 10:21] grobbie opened #443 "Move Katib operators"
The Katib operator repos are currently hosted under the upstream Kubeflow GitHub account. I suggest moving them into the Canonical GitHub account to improve maintainability.

[2022-03-14 16:21] ReggieCarey opened #444 "Bug with security concerns: Use of certifi installs hard coded set of ca-certificates. Use of certifi should be avoided for all container based deployments"
When attempting to deploy kubeflow into a k8s environment running on openstack behind a corporate firewall with TLS interposition, Corporate CA certificates need to be installed or made available inside containers such as the kubeflow deployment operators and the juju-operator container used by juju in particular.

Some subset of the operators deployed with "juju deploy kubeflow" rely on "certifi"

[2022-03-28 13:10] #425 closed

[2022-03-29 17:47] ca-scribner commented on #423
Closed by canonical/kfp-operators#49 and canonical/notebook-operators#24

[2022-03-29 17:47] #423 closed

[2022-03-31 07:38] Barteus opened #446 "The mlpipeline-minio-artifact contains the value in open text in annotation"
Use kubectl to get the annotations, there is a full value.
[code]

This makes people who have only access to "describe secret" to see the values of it.

[2022-04-04 14:06] shrikantkeni opened #447 "kubeflow services are not coming up using juju"
Multiple errors are showing in juju status     wrt dex-auth, seldoncore.

even after istio patch roll istio services are showing in waiting state

ubuntu@ip-172-31-9-84:~$  juju status --color
Model     Controller     Cloud/Region     Version  SLA          Timestamp
kubeflow  my-controller  myk8s/localhost  2.9.27   unsupported  13:57:34Z

App                        Version                    Stat

[2022-04-07 10:24] Barteus commented on #439
More not working examples: https://github.com/canonical/bundle-kubeflow/blob/master/tests/pipelines/object_detection.py#L293 (more than single line)

[2022-04-07 12:43] ca-scribner commented on #438
Sorry for the slow response, we missed this one.  Did you get this sorted out?

[2022-04-07 13:27] ca-scribner commented on #447
Did this eventually resolve itself?  I see a lot of `waiting for container` messages in the status - that sounds like it is just taking time to deploy everything (probably taking time to download the image, or might be CPU bottlenecked while it actually deploys everything).  Depending on the machine it'll take at least a few minutes.  You can look at the workloads (`kubectl get pods`, `kubectl des

[2022-04-12 16:35] CodeCreatorLLC opened #448 "kubectl: command not found"
Patch not working.....

![image](https://user-images.githubusercontent.com/17622584/163011202-49456520-63d0-4092-8ca0-4d3ce2c109ac.png)

[2022-04-13 19:00] CodeCreatorLLC commented on #448
Any one have any suggestions on why the patch doesn't work?

[2022-04-15 04:12] soumen-ghosh opened #449 "Issues with seldon-controller-manager"
I've installed kubeflow-lite bundle through juju following instructions from https://charmed-kubeflow.io/docs/install. But seldon-controller-manager pod keeps crashing since deployment.

(base) root@pbm088:~# kubectl logs pod/seldon-controller-manager-cf7545746-5442x -n kubeflow
{"level":"info","ts":1649909040.3439353,"logger":"setup","msg":"Intializing operator"}
{"level":"info","ts":1649909040.3

[2022-04-15 04:31] soumen-ghosh opened #450 "Issue with kubeflow UI"
I've installaed kubeflow-lite bundle through juju. And followed steps mentioned in https://discourse.ubuntu.com/t/install-kubeflow-anywhere/20207 to configure the UI.

Say, the external ip of  istio-ingressgateway service is 10.64.140.43

juju config dex-auth public-url=http://10.64.140.43.nip.io                ## I've tried both with xip.io or nip.io (https://charmed-kubeflow.io/docs/install)
juj

[2022-04-18 09:11] DomFleischmann commented on #448
Can you provide some more context?

What is the error message? What Kubernetes are you using? What version of charmed kubeflow?

[2022-04-18 17:32] CodeCreatorLLC commented on #448
Hello Dom,  Thanks for getting back to me.  Tried to install on Ubuntu 20.04 server.  Followed instructions pretty much to a tee found here (https://youtu.be/M_Ama8ZY8OQ)

However when applying the patch manually (seen at time at 6:23).  The command is not found.   Here is the patch applied.

kubectl patch role -n kubeflow istio-ingressgateway-operator -p '{"apiVersion":"rbac.authorization.k8s.io/

[2022-04-19 07:35] DomFleischmann commented on #448
In general we recommend to use the official [documentation](https://charmed-kubeflow.io/docs) as it is kept more up to date. In particular the [quick start guide](https://charmed-kubeflow.io/docs/quickstart) is a good place to get started quickly.

Regarding your issue given that you installed kubeflow with microk8s you probably need to append `microk8s` in front of the command like this:
`microk8

[2022-04-19 21:49] dgutman commented on #438
I'm having the same issues.... microk8s + juju + kubeflow-lite deployment, behind a proxy, seems to be extremely brittle.

What would be useful to post to help triage this?  The full inspection report?

[2022-04-20 16:01] CodeCreatorLLC commented on #448
Great I'll give it a try.   Thank you kindly for your help

[2022-04-20 19:57] CodeCreatorLLC commented on #448
Hello Dom,

Followed instructions found on the official documentation page.  https://charmed-kubeflow.io/docs/quickstart
Ran an AWS Ubuntu 20.04 instance, etc....
Got as far a "Accessing the Dashboard" and ran into a problem in the url.  Any help would be greatful

 See screen shots

![screen 1](https://user-images.githubusercontent.com/17622584/164312391-35f06398-e445-4bfe-b6c2-402d602ed060.JPG)

[2022-04-21 07:46] DomFleischmann commented on #448
Hello @CodeCreatorLLC given that your status still shows multiple applications in waiting can you please try once all the applications are in `active`?

[2022-04-21 12:42] markqiu commented on #438
I changed to use kubeflow manifests, it works. @dgutman

[2022-04-21 21:36] CodeCreatorLLC commented on #448
Hello Dom... Thanks for all your help.  Unfortunately same result for url to access dashboard.   See screen shots.....

![Kubeflow 1](https://user-images.githubusercontent.com/17622584/164555973-634a7ed1-d02a-416f-8eac-50854aee66df.JPG)

![Kubeflow 2](https://user-images.githubusercontent.com/17622584/164555993-8b67596e-0525-4e2a-8036-baf90491b02e.JPG)

Not sure what to do next.  All ports are ope

[2022-04-22 08:23] DomFleischmann commented on #448
Just to be sure, are you installing this on your local machine or a remote one?

If it is a remote one you will have to use something like socks proxy to access the dashboard (see the docs [here](https://charmed-kubeflow.io/docs/dashboard))

Also, have you set the URL in the authentication charms like this?
[code]

[2022-04-22 09:42] Barteus commented on #449
Current Charmed Kubeflow supports only kubernetes version `1.21`.

[2022-04-22 11:23] saltiyazan opened #451 "deployment Kubeflow-lite bundle get stuck on microk8s on serverstack."
I have been trying to deploy kubeflow-lite using juju on microk8s on serverstack, I followed the steps from [this guide.]( https://discourse.ubuntu.com/t/install-kubeflow-anywhere/20207).

The deployment gets stuck as in the screenshot:
<img width="1259" alt="Screenshot 2022-04-22 at 15 05 24" src="https://user-images.githubusercontent.com/26838825/164702845-4d2df66d-b9b3-42ae-b0c9-30e23dd20c7b.pn

[2022-04-22 13:22] Tobik1610 opened #452 "Error executing scripts/cli.py"
I've been trying to deploy kubeflow-lite on AWS following this [guide](https://charmed-kubeflow.io/docs/aws).

At step 6 when executing the following command (x.x.x.x replaced with my public AWS EC2 Instance IP) im getting an error:
python3 scripts/cli.py deploy-to uk8s --public-address x.x.x.x.nip.io --bundle lite --password=foobar

Error:
![image](https://user-images.githubusercontent.com/393014

[2022-04-22 14:51] ca-scribner commented on #438
The procedure is definitely nuanced and not straightforward.  We are currently converting an internal document into a full tutorial, so that should clarify things soon.

@grobbie, when the full tutorial is available can you add it here?  Thanks!

[2022-04-22 15:10] gtrkiller opened #454 "Kubeflow Microk8s deployment issue"
Hello, I am using Ubuntu 20.04, Microk8s 1.21 and the latest stable version of juju. This installation is being made on my local machine.

Whenever I try to follow the kubeflow quickstart tutorial (https://charmed-kubeflow.io/docs/quickstart) I can execute all the commands without any further issues. The thing is, when I watch juju status, there are some charms that won't get deployed because of a

[2022-04-22 16:55] EMCP opened #453 "question on where is spark in the full version?"
according to this list of `kubeflow` bundle , it should contain spark.. but I fail to find it in either my deployed Applications or in the bundle file

https://charmed-kubeflow.io/docs/operators-and-bundles

[code]

https://github.com/canonical/bundle-kubeflow/blob/master/bundle-kubeflow.yaml

[2022-04-22 17:01] EMCP commented on #450
you might be experiencing this issue , https://github.com/canonical/bundle-kubeflow/issues/438 . some have gotten further with the full `juju deploy kubeflow --trust`

[2022-04-22 17:17] ca-scribner commented on #450
setting the dex and oidc-gatekeeper public-url's looks right.  To debug, I'd look at (and you can post here if you look) `juju status` and `kubectl get all -A`.  What I'm wondering is if all applications for kubeflow have deployed successfully (in `Active` state and their associated pods are running normally).

If any are not as you'd expect, I suggest looking at `juju debug-log -i unit-that-is-ha

[2022-04-22 19:10] EMCP commented on #453
perhaps I just need a tutorial how to get started and it's already installed.. but when I looked for spark in a new notebook I hadn't a clue where to start

![image](https://user-images.githubusercontent.com/3691722/164778839-031a858a-f923-47df-b005-e153a098f023.png)

![image](https://user-images.githubusercontent.com/3691722/164778884-438f0b7d-db8c-4739-96ac-a7ae800a1e4b.png)

[2022-04-23 19:51] EMCP commented on #453
just tried the spark notebook image but.. seemed to fail

![image](https://user-images.githubusercontent.com/3691722/164944064-1195c5d1-b7a8-4365-8b94-580a0ba2fb36.png)

![image](https://user-images.githubusercontent.com/3691722/164944076-4cb22b41-be70-423e-8664-83c7d53b5ab6.png)

[2022-04-25 07:34] DomFleischmann commented on #453
Hello @EMCP, you can install spark separately by executing the following command in the `kubeflow` juju model:
`juju deploy spark-k8s`
We removed spark from the default bundle as it wasn't entirely related to Kubeflow, sorry for the inconvenience.

[2022-04-25 07:34] #453 closed

[2022-04-25 15:15] ca-scribner commented on #454
Transferred this to bundle-kubeflow, but I don't know if this is the right place either.  This feels more general than kubeflow, but not sure where to file this

[2022-04-25 15:45] dgutman commented on #438
Thanks--- I think the issue I'm facing is related to tutorials being split
among various components  (  juju , maas  microk8s +- kubeflow) that all
have starting points and are tested using specific combos of the tools.

Is there a grid anywhere that has pinned/specific versions of these that
should work together?

I've seen microk8s >> 1.21 doesn't really work with kubeflow,  juju > 5.0
has issue

[2022-04-25 17:30] ca-scribner commented on #438
Thanks @dgutman, that's good feedback. I thought that [this guide](https://charmed-kubeflow.io/docs/install) would have had everything, but I see it links to an existing k8s cloud rather than guiding on using microk8s from the start.  I could have sworn it had microk8s guidance, but maybe we rearranged things.  You make a good point that it is hard to piece together an end to end example quickly.

[2022-04-25 18:03] dgutman commented on #438
Thanks--- any weird issues with proxies to be aware of.  I can configure my
machine so that it has direct access to my University IP address, but I
imagine in some scenarios I may want to set this up on a MAAS provisioned
machine that (hopefully) proxies everything through my MAAS head node.

On Mon, Apr 25, 2022 at 1:30 PM Andrew Scribner ***@***.***>
wrote:

--
David A Gutman, M.D. Ph.D.
Associa

[2022-04-25 18:57] EMCP commented on #453
thank you @DomFleischmann , I need to start over from scratch.. as my k8s controller is now acting up.. the bug is already reported here https://bugs.launchpad.net/juju/+bug/1968105

but I will retry deploying this in a moment, thanks for the insights.. now its clear why it is not included

[2022-04-26 09:04] DomFleischmann commented on #451
This seems like a missing proxy configuration and we are already tracking this in another issue. I will therefore close this one.

[2022-04-26 09:04] #451 closed

[2022-04-26 09:08] DomFleischmann commented on #447
Closing this issue because of no response, feel free to reopen if more information is needed.

[2022-04-26 09:08] #447 closed

[2022-04-26 09:09] DomFleischmann commented on #449
This is effectively due to seldon-controller-manager not supporting k8s versions above `1.21` please use an older version for installing this software.

[2022-04-26 09:09] #449 closed

[2022-04-26 10:48] DomFleischmann commented on #441
@ca-scribner is this addressed with the addition of the config hash?

[2022-04-28 09:56] #452 closed

[2022-05-05 13:26] ca-scribner commented on #446
(from jira)
I believe this artifact is created by the kubeflow-pipelines-profile-controller charm via the sync.py script ([kfp-operators/sync.py at master · canonical/kfp-operators](https://github.com/canonical/kfp-operators/blob/master/charms/kfp-profile-controller/files/upstream/sync.py) ) that we’ve modified from upstream.  That sync.py file essentially defines yaml for objects that each kfp-en

[2022-05-06 06:43] ca-scribner commented on #446
This is starting to feel like a "can't fix", or at least not easily.  Some background is [here](https://github.com/kubernetes/kubernetes/issues/29923).  The tl/dr from that is:

@natalian98 is looking into whether newer versions of metacontroller address this somehow but I'm not hopeful.

[2022-05-10 09:29] #446 closed

[2022-05-12 14:49] #448 closed, assigned to nobody

[2022-05-12 16:01] natalian98 commented on #446
Having tested the rbac model as suggested by metacontroller contributors, it looks that a role with `describe` access only doesn't work - it can be created, but will not grant any kind of access.
If a role with `get` access-only is created, the secret can be described as well.
As having read access with `get` enables to get the secret contents in yaml and use `edit` (without permission to actually

[2022-05-13 22:46] DnPlas commented on #420
Hi @VariableDeclared, thanks for reporting this. I was able to reproduce the issue on AKS, just as you described. Apparently this is an issue with juju, in fact there have been multiple reports similar to this one. I have filed a [bug](https://bugs.launchpad.net/juju/+bug/1973383) (as the juju team requested) so we can find out a reliable workaround or a solution.
In the meantime, we can use your

[2022-05-17 16:22] mateoflorido opened #457 "Test environment fails using Selenium in Jammy"
**Issue**
When running the tests in Jammy, Selenium ones fail because `geckodriver` package is not included due to the change of Firefox package to snap.
[code]

I have tried to download the driver (also installing from cargo as stated in the project [repo](https://github.com/mozilla/geckodriver)) and include it in the path. However, the error persists.
[code]

[2022-05-20 23:17] christianhans commented on #457
Have you already tried

[code]

?

See also https://github.com/mozilla/geckodriver/releases/tag/v0.31.0

[2022-05-26 12:56] DnPlas commented on #420
I am closing this issue as we are tracking the issue in [launchpad](https://bugs.launchpad.net/juju/+bug/1973383). Feel free to re-open it or file a new one if you run into other issues.

[2022-05-26 12:56] #420 closed

[2022-05-26 21:34] DnPlas commented on #438
Hi folks, thanks for filing this issue and providing so much detail. To run Charmed Kubeflow behind a proxy, we have a [guide](https://charmed-kubeflow.io/tutorials/deploy-kubeflow-on-microk8s-behind-a-web-proxy#1-introduction) that can help with your setup. I'm closing this bug as the right configuration should prevent this issue form happening, but feel free to re-open or file a new one if you r

[2022-05-26 21:34] #438 closed

[2022-06-03 07:35] psakamoori commented on #450
Seeing same issue of not able to access live pages on dashboard

![Screenshot from 2022-06-03 00-31-34](https://user-images.githubusercontent.com/2974647/171808990-1e6ad652-cec6-4b23-9130-801bc14e8d40.png)

=====
logs
=====

psakamoori@pvlab:~/.kube$ juju status
Model     Controller          Cloud/Region        Version  SLA          Timestamp
kubeflow  microk8s-localhost  microk8s/localhost  2.9.3

[2022-06-03 12:38] DomFleischmann commented on #450
@psakamoori Your issue is an entirely different one, you are setting the kubeflow dasboard IP as the `public-url`. Ingress, authentication is all routed through istio and therefore you have to point to the istio-ingressgateway IP. In your case this should be the command:
[code]
Given that `10.152.183.120` is the loadbalancer IP of the istio-ingressgateway service.

[2022-06-03 17:39] psakamoori commented on #450
@DomFleischmann Thank you for the details. Corrected the juju config as above...and I am seeing below logs...not sure of why dex-auth is waiting....and dex-aut/8* error because of "hook failed: "oidc-client-relation-broken"

![Screenshot from 2022-06-03 10-37-10](https://user-images.githubusercontent.com/2974647/171917168-85ad61a3-857b-4e87-b1db-a98f49485b5b.png)

![Screenshot from 2022-06-03 10-3

[2022-06-05 05:27] nobuto-m opened #458 "kubeflow bundle give an error multiple times during a deployment"
Following the quick installation guide:
https://charmed-kubeflow.io/docs/quickstart

A deployment settles down eventually indeed, but the `watch -c juju status --color` step reveals an error in an user visible way. It would be nice if each charm handles status appropriately like `waiting` or `blocked` instead of `error` so we can avoid an awkward moment of seeing an error in a demo.

Steps to repr

[2022-06-05 11:56] nobuto-m commented on #458
Another instance of deployment:

[code]

[2022-06-05 15:48] nobuto-m opened #459 "katib-controller doesn't have trial-resources=Workflow.v1alpha1.argoproj.io out of the box"
How to reproduce (based on [the quickstart doc](https://charmed-kubeflow.io/docs/quickstart)):
1. sudo snap install microk8s --classic --channel 1.21
1. microk8s enable dns storage ingress metallb:10.64.140.43-10.64.140.49
1. deploy kubeflow:
   juju bootstrap microk8s
   juju add-model kubeflow
   juju deploy --trust kubeflow
   juju config dex-auth public-url=http://10.64.140.43.nip.io
   juju c

[2022-06-06 09:03] DomFleischmann commented on #450
You can solve the dex-auth error with the following command:
`juju resolve dex-auth --no-retry`
You might have to execute it multiple times until the unit with errors disappears.

Regarding the dashboard not working, please make sure to access the UI with the same IP you set in the `public-url` config.

I also agree that this is not the right place to discuss this as this is a separate issue, plea